.btn{
	font-size: 18px;
	font-weight: normal;
	@include breakpoint(md){
		font-size: 16px;
		font-weight: 700;
	}
}

.btn-orange{
	color: $clr-white;
	border-color: $clr-1;
	background-color: $clr-1;
	&:hover, &:focus{
		color: $clr-white;
		border-color: darken($clr-1, 5%);
		background-color: darken($clr-1, 5%);
	}
}

.btn-md{
	padding-bottom: 10px;
	padding-top: 10px;
	min-width: 235px;
}