@font-face {
    font-family: 'UTMAvo';
    src: url('../fonts/UTMAvo/UTMAvo.eot');
    src: url('../fonts/UTMAvo/UTMAvo.eot') format('embedded-opentype'),
         url('../fonts/UTMAvo/UTMAvo.woff2') format('woff2'),
         url('../fonts/UTMAvo/UTMAvo.woff') format('woff'),
         url('../fonts/UTMAvo/UTMAvo.ttf') format('truetype'),
         url('../fonts/UTMAvo/UTMAvo.svg#UTMAvo') format('svg');
}
@font-face {
    font-family: 'UTMAvo';
    src: url('../fonts/UTMAvo/UTMAvoBold.eot');
    src: url('../fonts/UTMAvo/UTMAvoBold.eot') format('embedded-opentype'),
         url('../fonts/UTMAvo/UTMAvoBold.woff2') format('woff2'),
         url('../fonts/UTMAvo/UTMAvoBold.woff') format('woff'),
         url('../fonts/UTMAvo/UTMAvoBold.ttf') format('truetype'),
         url('../fonts/UTMAvo/UTMAvoBold.svg#UTMAvoBold') format('svg');
    font-weight:700;
    font-style: normal;
}
@font-face {
    font-family: 'UTMAvo';
    src: url('../fonts/UTMAvo/UTMAvoBold_Italic.eot');
    src: url('../fonts/UTMAvo/UTMAvoBold_Italic.eot') format('embedded-opentype'),
         url('../fonts/UTMAvo/UTMAvoBold_Italic.woff2') format('woff2'),
         url('../fonts/UTMAvo/UTMAvoBold_Italic.woff') format('woff'),
         url('../fonts/UTMAvo/UTMAvoBold_Italic.ttf') format('truetype'),
         url('../fonts/UTMAvo/UTMAvoBold_Italic.svg#UTMAvoBold_Italic') format('svg');
    font-weight:700;
    font-style: italic;
}
@font-face {
    font-family: 'UTMAvo';
    src: url('../fonts/UTMAvo/UTMAvoItalic.eot');
    src: url('../fonts/UTMAvo/UTMAvoItalic.eot') format('embedded-opentype'),
         url('../fonts/UTMAvo/UTMAvoItalic.woff2') format('woff2'),
         url('../fonts/UTMAvo/UTMAvoItalic.woff') format('woff'),
         url('../fonts/UTMAvo/UTMAvoItalic.ttf') format('truetype'),
         url('../fonts/UTMAvo/UTMAvoItalic.svg#UTMAvoItalic') format('svg');
    font-weight:normal;
    font-style: italic;
}

@font-face {
  font-family: 'Muli';
  src: url('../fonts/Muli/Muli-Regular.eot');
  src: url('../fonts/Muli/Muli-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Muli/Muli-Regular.svg#Muli-Regular') format('svg'),
       url('../fonts/Muli/Muli-Regular.ttf') format('truetype'),
       url('../fonts/Muli/Muli-Regular.woff') format('woff'),
       url('../fonts/Muli/Muli-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Muli';
  src: url('../fonts/Muli/Muli-Bold.eot');
  src: url('../fonts/Muli/Muli-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Muli/Muli-Bold.svg#Muli-Bold') format('svg'),
       url('../fonts/Muli/Muli-Bold.ttf') format('truetype'),
       url('../fonts/Muli/Muli-Bold.woff') format('woff'),
       url('../fonts/Muli/Muli-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Muli';
  src: url('../fonts/Muli/Muli-BoldItalic.eot');
  src: url('../fonts/Muli/Muli-BoldItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Muli/Muli-BoldItalic.svg#Muli-BoldItalic') format('svg'),
       url('../fonts/Muli/Muli-BoldItalic.ttf') format('truetype'),
       url('../fonts/Muli/Muli-BoldItalic.woff') format('woff'),
       url('../fonts/Muli/Muli-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Muli';
  src: url('../fonts/Muli/Muli-Italic.eot');
  src: url('../fonts/Muli/Muli-Italic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Muli/Muli-Italic.svg#Muli-Italic') format('svg'),
       url('../fonts/Muli/Muli-Italic.ttf') format('truetype'),
       url('../fonts/Muli/Muli-Italic.woff') format('woff'),
       url('../fonts/Muli/Muli-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}





body{
  color: $clr-text;
  font-size: $font-size-base;
  @include UTMAvo();
  line-height: 1.3;
  padding-top: 61px;
  @include breakpoint(lg){
    padding-top: 127px;
  }
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
  line-height: 1.3;
}

img{
  max-width: 100%;
  height: auto !important;
  height: unset !important;
  width: auto;
}

a{
  color: $clr-text;
  // @include transition(color ease 0.5s);
  &:hover, &:focus{
    text-decoration: none;
    color: $clr-1;
  }
}

%list-type{
  margin:0;
  padding:0;
  list-style:none;
}

button{
  cursor:pointer;
  &:focus{
    outline:none;
  }
}

textarea{
    resize: none;
}


.form-control{
  font-size: $font-size-base;
}
.btn-clear{
  border:none;
  background-color: transparent;
  padding:0;
}

b, strong{
  font-weight:700;
}

.container{
  @include breakpoint(xl){
    max-width: 1200px;
  }
  @media (min-width: 1300px){
    max-width: 1210px;
  }
  @media (max-width: 767px){
    max-width: 100%;
  }
}
.section-heading{
  margin-bottom: 20px;
  .section-title{
    font-size: 22px;
    font-weight: bold;
    // text-transform: capitalize;
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
    color: $clr-7;
    @include breakpoint(md){
      font-size: 40px;
      text-transform: unset;
      color: $clr-2;
    }
  }
}


.section-heading-line{
  @media (max-width: 767px) {
    padding-bottom: 20px;
    position: relative;
    &::after{
      background-color: $clr-7;
      height: 1px;
      width: 33%;
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
    }
  }
}

.section-title-sub{
  font-size: 18px;
  text-align: center;
  margin-top: 4px;
  @include Muli();
  max-width: 720px;
  margin-right: auto;
  margin-left: auto;
  @include breakpoint(md){
    font-size: 24px;
  }
}


.wrapper{
  overflow: hidden;
}


.hover-scale{
  overflow: hidden;
  a{
    display: block;
  }
  img{
    @include transition-value();
  }
  &:hover{
    img{
      @include transform(scale(1.2));
    }
  }
}
.row-sm-xs{
  @media (max-width: 767px) {
    margin-left: -5px;
    margin-right: -5px;
    &>[class*="col-"]{
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}
.title-type-2{
  margin-bottom: 20px;
  position: relative;
  text-align: center;
  @include breakpoint(md){
    margin-bottom: 47px;
    &::before{
      height: 1px;
      width: 100%;
      content: '';
      display: block;
      background-color: $clr-2;
      position: absolute;
      left: 0;
      top: 66%;
    }
  }
  @media (max-width: 767px) {
    padding-bottom: 15px;
    &::after{
      background-color: $clr-7;
      height: 1px;
      width: 33%;
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
    }
  }
  h2{
    position: relative;
    z-index: 1;
    display: inline-block;
    margin-bottom: 0;
    @media (max-width: 767px) {
      font-size: 24px;
      color: $clr-7;
      text-transform: uppercase;
      font-weight: bold;
    }
    @include breakpoint(md){
      font-size: 30px;
      color: $clr-2;
      padding: 0 28px;
      background-color: $clr-white;
      font-weight: bold;
    }
  }
}
/* custom dots */
.owl-theme .owl-dots .owl-dot span{
  background-color: #b2b2b2;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
  background-color: $clr-black;
}

/* custom nav */
.owl-carousel{
  position: relative;
  .owl-nav{
    margin-top: 0;
    button.owl-prev, button.owl-next{
      position:absolute;
      top:40%;
      @include translate(0,-40%);
      border: 2px solid #e0e0e0;
      background-color: transparent;
      z-index: 10;
      width: 50px;
      height: 50px;
      text-align: center;
      margin: 0;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover{
        border-color: $clr-1;
        background-color: transparent;
      }
      span{
        background-image: url(../images/control.png);
        background-repeat: no-repeat;
        overflow: hidden;
        height: 14px;
        width: 9px;
        display: inline-block;
        vertical-align: top;
        font-size: 0;
      }
    }
    button.owl-prev{
      left: 0;
      span{
        background-position: 0 0;
      }
      &:hover{
        span{
          background-position: -9px 0;
        }
      }
    }
    button.owl-next{
      right: 0;
      span{
        background-position: 0 -15px;
      }
      &:hover{
        span{
          background-position: -9px -15px;
        }
      }
    }
  }
}