.section-event{
	padding-top: 35px;
	padding-bottom: 52px;
	@include breakpoint(md){
		padding-top: 85px;
	}
	h2{
		font-weight: 700;
		font-size: 30px;
		color: $clr-7;
		margin-bottom: 40px;
		text-align: center;
		@include breakpoint(md){
			font-size: 30px;
			color: #2e2d29;
			text-align: left;
			margin-bottom: 26px;
		}
	}
	.pagination{
		margin-bottom: 0;
		margin-top: 10px;
	}
}

.event-item{
	background-color: $clr-white;
	@include box-shadow(0 6px 14px rgba($clr-black,0.16));
	margin-bottom: 22px;
	@include dFlex();
	@include flexWrap();
	padding: 12px;
	position: relative;
	@include breakpoint(md){
		margin-bottom: 45px;
	}
	.img{
		@include flexWidth(24%);
		@include breakpoint(md){
			@include flexWidth(178px);
		}
		@media (max-width: 749px){
			@include flexWidth(20%);
		}
	}
	.text{
		padding-left: 30px;
		@include flexWidth(76%);
		@include breakpoint(md){
			@include flexWidth(calc(100% - 178px));
		}
		@media (max-width: 749px){
			@include flexWidth(80%);
			padding-left: 20px;
		}
	}
	h4{
		text-transform: uppercase;
		color: #b05e5e;
		font-weight: 700;
		font-size: 12px;
		margin-bottom: 0;
		position: relative;
		z-index: 2;
		padding-right: 90px;
		@include breakpoint(md){
			font-size: 15px;
			padding-right: 0;
		}
		a{
			color: #b05e5e;
			&:hover{
				color: $clr-1;
			}
		}
	}
	h3{
		font-weight: 700;
		font-size: 20px;
		color: #2e2d29;
		margin-bottom: 40px;
		position: relative;
		z-index: 2;
		@include breakpoint(md){
			margin-bottom: 25px;
			font-size: 26px;
		}
		@include breakpoint(lg){
			margin-bottom: 50px;
		}
		@media (max-width: 749px){
			margin-bottom: 5px;
			margin-right:15px;
			font-size: 14px;
			line-height: 18px;
			height: 18px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
		a{
			color: #2e2d29;
			&:hover{
				color: $clr-1;
			}
		}
	}
	ul{
		@extend %list-type;
		color: #5f574f;
		@include breakpoint(md){
			font-size: 18px;
		}
		@media (max-width: 749px){
			font-size: 11px;
		}
		li{
			position: relative;
			padding-left: 30px;
			&:not(:last-child){
				margin-bottom: 12px;
				@media (max-width: 749px){
					margin-bottom: 3px;
				}
			}
			@media (max-width: 749px){
				min-height: 18px;
				padding-left: 20px;
			}
			i{
				position: absolute;
				top: 3px;
				left: 0;
				@media (max-width: 749px){
					top: 0;
					&.ico-16{
						@include use-sprite('ico-28');
					}
					&.ico-17{
						@include use-sprite('ico-29');
					}
				}
			}
		}
	}
}

.status-event{
	background-position: bottom right;
	background-repeat: no-repeat;
	color: $clr-white;
	width: 175px;
	height: 84px;
	background-size: 100% 100%;
	// text-align: center;
	padding-bottom: 12px;
	@include dFlex();
	@include justifyContent(flex-end);
	font-size: 12px;
	font-weight: 700;
	padding-right: 12px;
	top: 0;
	position: absolute;
	right: 0;
	padding-top:12px;
	@include breakpoint(md){
		top: auto;
		bottom: 0;
		width: 283px;
		height: 150px;
		@include alignItems(flex-end);
		font-size: 22px;
		padding-top: 0;
		padding-right: 28px;
	}
	@include breakpoint(lg){
		width: 283px;
		height: 150px;
	}
	@media (max-width: 749px){
		width: 135px;
    height: 44px;
    padding-top: 3px;
    padding-right: 3px;
	}
	&.open-soon{
		background-image: url(../images/bg/open-soon-mobile.png);
		@include breakpoint(md){
			background-image: url(../images/bg/open-soon.png);
		}
	}
	&.opening{
		background-image: url(../images/bg/opening-mobile.png);
		@include breakpoint(md){
			background-image: url(../images/bg/opening.png);
		}
	}
	&.finished{
		background-image: url(../images/bg/finished-mobile.png);
		@include breakpoint(md){
			background-image: url(../images/bg/finished.png);
		}
	}
}