/* section-about-faculty */
.section-about-faculty{
	margin-bottom: 62px;
	@include breakpoint(md){
		padding-top: 68px;
		margin-bottom: 94px;
	}
	.section-heading{
		margin-bottom: 28px;
		padding-bottom: 24px;
		@include breakpoint(md){
			margin-bottom: 58px;
			padding-bottom: 0;
		}
	}
	.section-title-sub{
		color: $clr-black;
	}
}

/* section-feature */
.section-feature{
	margin-bottom: 60px;
	@include breakpoint(md){
		margin-bottom: 102px;
	}
	.section-heading{
		margin-bottom: 50px;
	}
	hr{
		height: 1px;
		border-top: 1px solid #707070;
		margin-top: 0;
		margin-bottom: 70px;
		overflow: hidden;
	}
	.row{
		margin-left: -8px;
		margin-right: -8px;
		[class*="col-"]{
			padding-left: 8px;
			padding-right: 8px;
			margin-bottom: 16px;
		}
	}
	.view-more{
		padding-top:25px;
	}
}

.card-info{
	@include box-shadow(0 5px 12px rgba($clr-black,0.16));
	background-color: $clr-white;
	@include border-radius(4px);
	min-height: 100%;
}

.card-info-img{
	img{
		width: 100%;
	}
}


.card-info-body{
	padding: 10px 10px 15px;
}

.card-info-title{
	font-size: 16px;
	font-weight: 700;
	color: $clr-black;
	line-height: 24px;
	max-height: 48px;
	a{
		color: $clr-black;
		@include transition-value();
		&:hover{
			color: $clr-1;
		}
	}
}



/* section-news-faculty */
.section-news-faculty{
	background-color: #f9f6ef;
	padding-bottom: 82px;
	padding-top: 42px;
	margin-bottom: 53px;
	@include breakpoint(md){
		padding-top: 42px;
		padding-bottom: 68px;
		margin-bottom: 75px;
	}
	.section-heading{
		margin-bottom: 33px;
		padding-bottom: 24px;
		@include breakpoint(md){
			margin-bottom: 70px;
			padding-bottom: 0;
		}
	}

	.view-more{
		padding-top: 25px;
		@include breakpoint(md){
			padding-top: 0;
		}
	}
}

.news-thumb-item{
	margin-bottom: 22px;
	@include breakpoint(md){
		margin-bottom: 53px;
	}
	.img{
		margin-bottom: 16px;
		@include breakpoint(md){
			margin-bottom: 20px;
		}
		img{
			width: 100%;
		}
	}
	.text{
		h3{
			font-size: 15px;
			@include Muli();
			font-weight: 700;
			margin-bottom: 0;
			line-height: 24px;
			max-height: 72px;
			@include breakpoint(md){
				font-size: 20px;
			}
			a{
				@include transition-value();
			}
		}
	}
}

/* section-felling-student */
.section-felling-student{
	margin-bottom: 24px;
	@include breakpoint(md){
			margin-bottom: 97px;
		}
	.section-heading{
		margin-bottom: 47px;
		@include breakpoint(md){
			margin-bottom: 78px;
		}
	}
}
.student-item{
	text-align: center;
	font-size: 20px;
	color: $clr-black;
	.img{
		margin-bottom: 9px;
	}
	.name-student{
		margin-bottom: 10px;
	}
	.desc{
		font-family: 'Segoe UI', sans-serif;
	}
}


.owl-arrow-white{
	&.owl-carousel {
		.owl-nav{
			button{
				&.owl-prev, &.owl-next{
					@include square(50px);
					background-color: $clr-white;
					@include box-shadow(0 3px 12px rgba($clr-black,0.16));
					border: none;
				}
				&.owl-prev{
					@media (min-width: 1300px){
						left: -72px;
					}
					span{
						@extend .ico-21;
					}
					&:hover{
						span{
							@extend .ico-23;
						}
					}
				}
				&.owl-next{
					@media (min-width: 1300px){
						right: -72px;
					}
					span{
						@extend .ico-22;
					}
					&:hover{
						span{
							@extend .ico-24;
						}
					}
				}
			}
		}
	}
}

/* section-partners */
.section-partners{
	margin-bottom: 20px;
	@include breakpoint(md){
		padding-bottom: 75px;
	}
	.section-heading{
		margin-bottom: 44px;
		@include breakpoint(md){
			margin-bottom: 48px;
		}
	}
}
.partner{
	@include dFlex();
	@include flexWrap();
	border: 1px solid #b3b3b3;
	border-bottom: none;
	border-right: none;
	.img{
		height: 72px;
		@include flexWidth(25%);
		@include dFlex();
		@include justifyContent(center);
		@include alignItems(center);
		border-bottom: 1px solid #b3b3b3;
		border-right: 1px solid #b3b3b3;
		padding: 10px;
		@include breakpoint(md){
			height: 160px;
		}
	}
	img{
		width: auto !important;
		max-width: 100%;
		max-height: 70px;
		@include breakpoint(md){
			max-height: 158px;
		}
	}
}