footer{
	background-color:$clr-white;
	position: relative;
	z-index: 2;
}

.footer-top{
	background-color: #f4f4f4;
	padding: 24px 0 14px;
	@include breakpoint(lg){
		padding: 28px 0;
	}
	.time{
		color: #9b9b9b;
		margin-bottom: 10px;
		font-size: 14px;
		@include breakpoint(sm){
			font-size: 15px;
		}
	}
}

.social-ft{
	@include dFlex();
	margin-bottom: 10px;
	a{
		display: inline-block;
		@include square(32px);
		border: 1px solid #3b57a6;
		color: #3b57a6;
		@include border-radius(50%);
		text-align: center;
		// line-height: 40px;
		@include transition-value();
		font-size: 16px;
		@include dFlex();
		@include justifyContent(center);
		@include alignItems(center);
		background-color: $clr-white;
		&:not(:last-child){
			margin-right: 5px;
			@include breakpoint(md){
				margin-right: 14px;
			}
		}
		@include breakpoint(md){
			@include square(42px);
			font-size: 20px;
		}
		i{
			vertical-align: middle;
		}
		&:hover{
			background-color: #3b57a6;
			color: $clr-white;
		}
	}
}

.footer-bottom{
	background-color: #ea7617;
	color: $clr-white;
	padding: 15px 0 30px;
	@media (max-width: 767px){
		background-image: url(../images/bg/bg-footer.png);
		background-repeat: no-repeat;
		background-position: right bottom;
	}
	a{
		color: $clr-white;
	}
}

.about-us-ft{
	text-align: left;
	display: inline-block;
	font-size: 14px;
	@include breakpoint(lg){
		font-size: 15px;
	}
	.img{
		text-align: center;
		margin-bottom: 15px;
		img{
			@media (max-width: 767px){
				max-width: 76px;
			}
		}
	}
	@include breakpoint(lg){
		@include dFlex();
		.img{
			@include flexWidth(125px);
			margin-bottom: 0;
		}
		.text{
			@include flexWidth(calc(100% - 125px));
			padding-left: 60px;
			padding-top: 6px;
		}
	}
	h3{
		text-transform: uppercase;
		font-weight: 700;
		font-size: 25px;
		margin-bottom: 30px;
		@include breakpoint(lg){
			margin-bottom: 15px;
			font-size: 20px;
		}
	}
	ul{
		@extend %list-type;
		li{
			position: relative;
			padding-left: 28px;
			@include breakpoint(lg){
				padding-left: 0;
			}
			&:not(:last-child){
				margin-bottom: 17px;
				@include breakpoint(lg){
					margin-bottom:5px;
				}
			}
			i{
				position: absolute;
				left: 0;
				top: 0;
				@include breakpoint(lg){
					display: none;
				}
			}
		}
	}
}

.footer-right{
	@include dFlex();
	@include alignItems(flex-end);
	@include justifyContent(space-between);
	font-size: 14px;
	margin-top: 15px;
}

.footer-middle{
	padding: 30px 0;
	.row{
		margin-left: -12px;
		margin-right: -12px;
		.col-lg-2{
			padding-left: 12px;
			padding-right: 12px;
			@include breakpoint(lg){
				@include flexWidth(20%);
			}
			&:first-child{
				@include breakpoint(lg){
					@include flexWidth(15%);
				}
			}
			&:nth-child(3){
				@include breakpoint(lg){
					@include flexWidth(25%);
				}
			}
		}
	}
}

.box-ft{
	margin-bottom: 30px;
	h3{
		text-transform: uppercase;
		color: $clr-1;
		font-weight:700;
		margin-bottom: 8px;
		font-size: 16px;
		@include breakpoint(md){
			font-size: 18px;
		}
	}
}

.list-links{
	@extend %list-type;
	li{
		&:not(:last-child){
			margin-bottom: 5px;
		}
	}
}

.nav-footer{
	ul{
		@extend %list-type;
		li{
			&:not(:last-child){
				margin-bottom: 18px;
			}
			a{
				display: block;
				text-align: center;
				border: 1px solid #78706f;
				@include box-shadow(0 0 5px 5px rgba($clr-black,0.03));
				margin: auto;
				padding: 7px 10px 13px;
				color: $clr-1;
				@include breakpoint(lg){
					max-width: 176px;
					color: $clr-text;
					&:hover{
						color: $clr-1;
					}
				}
			}
		}
	}
}