header{
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	z-index: 99;
	background-color: $clr-white;
	.dropdown-menu{
		background-color: $clr-1;
		@include border-radius(0);
		border: none;
		@include box-shadow(none);
		min-width: 268px;
		padding-top: 0;
		margin-top: 0;
		li{
			&:not(:last-child){
				border-bottom: 1px solid rgba($clr-white,0.69);
			}
		}
		.dropdown-item{
			color: $clr-white;
			font-size: 18px;
			padding: 14px 18px 17px;
			&:hover, &:focus{
				color: $clr-white;
				background-color:transparent;
			}
		}

		&.style-2{
			@include breakpoint(lg){
				min-width: 103px;
				background-color: $clr-white;
				border: 1px solid #b3b3b3;
				li{
					&:not(:last-child){
						border: none;
					}
				}
				.dropdown-item{
					color: $clr-1;
					text-align: center;
					font-size: 18px;
					padding: 7px;
				}
			}
		}
	}
}

.header-top{
	background-color: $clr-1;
	color: $clr-white;
	font-size: 14px;
	padding: 9px 0 10px;
	@include breakpoint(lg){
		padding: 0;
	}
}

.nav-header{
	@extend %list-type;
	display: none;
	margin-right: 95px;
	@include breakpoint(lg){
		@include dFlex();
	}
	li{
		&:not(:last-child){
			padding-right: 20px;
			border-right: 1px solid rgba($clr-white,0.69);
			margin-right: 20px;
		}
		a{
			color: $clr-white;
		}
	}
}

.social-hd{
	ul{
		margin-bottom: 0;
		li{
			border-right: 1px solid rgba($clr-white,0.69);
			padding: 0 16px;
			&:first-child{
				border-left: 1px solid rgba($clr-white,0.69);
			}
			a{
				color: $clr-white;
			}
		}
	}
	.list-inline-item:not(:last-child){
		margin-right: 0;
	}
}

.header-func{
	.btn-clear{
		color: $clr-white;
	}
	.search{
		margin-right: 38px;
		@include breakpoint(lg){
			border-right: 1px solid rgba($clr-white,0.69);
			padding-right: 10px;
			margin-right: 10px;
		}
		@media (max-width: 749px){
			margin-right: 15px;
		}
	}
}

.language{
	.btn-clear{
		img{
			width: 28px;
			height: 18px;
			@include breakpoint(lg){
				margin-right: 5px;
			}
		}
	}
	.dropdown-menu{
		transform: none !important;
		top: 100% !important;
		left: auto !important;
		right: 0;
		.dropdown-item{
			font-size: 14px;
		}
	}
}


.header-middle{
	background-color: $clr-white;
	@include box-shadow(0 3px 7px rgba($clr-black,0.16));
	position: relative;
	z-index: 3;
}
.logo-header{
	@include dFlex();
	@include alignItems(center);
	.navbar-brand{
		margin-right: 20px;
		@include breakpoint(xl){
			margin-right: 38px;
		}
		@include breakpoint(lg){
			padding-top: 0;
			padding-bottom: 0;
			img{
				max-height: 72px;
			}
		}
	}
	.addmissions{
		color: $clr-1;
		font-weight:700;
		font-size: 20px;
		@include breakpoint(xl){
			font-size: 30px;
		}
		a{
			color: $clr-1;
		}
	}
}

.navbar-expand-lg {
	.navbar-nav {
		.nav-link{
			padding: 8px 5px;
			font-size: 16px;
			@include breakpoint(xl){
				padding: 8px 10px;
				font-size: 18px;
			}
			i{
				color: #030104;
				font-size: 20px;
				&:hover{
					color: $clr-1;
				}
			}
		}
		.nav-item{
			&:last-child{
				.dropdown-menu{
					@media (max-width: 1439px){
						left: auto;
						right: 0;
					}
				}
				.nav-link{
					padding-right: 0 !important;
				}
			}
		}
		.dropdown{
			.dropdown-menu{
				display: block;
				opacity: 0;
				visibility: hidden;
				top: 110% !important;
				@include transition-value();
			}
			&:hover, &.show{
				.dropdown-menu{
					opacity: 1;
					visibility: visible;
					top: 100% !important;
				}
			}
		}
	}
	@include breakpoint(lg){
		.dropdown-menu{
			max-height: calc(100vh - 115px);
			overflow-y: auto;
		}
	}
}

.logo-header-mb{
	@include alignItems(center);
	img{
		max-width: 42px;
		@media (max-width: 720px){
			max-width: 42px;
		}
	}
	h1{		
		margin-left: 10px;
		@media (max-width: 720px){
			font-size: 15px;
		}
	}
}

.name-site{
	font-size: 17px;
	font-weight: 700;
	margin: 0;
	text-shadow: 0 3px 7px rgba($clr-black,0.16);
}

.menu-btn{
	margin-left: 37px;
	@media (max-width: 749px){
		margin-left: 15px;
		.ico-4{
			@include use-sprite('ico-27');
		}
	}
}

.sidebar-menu-bg{
	background-color: rgba($clr-black,0.57);
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
	display: none;
	&.show{
		display: block;
		@include breakpoint(lg){
			display: none;
		}
	}
}

.sidebar-menu{
	position:fixed;
	top:0;
	right: -457px;
	background-color:$clr-1;
	color: $clr-white;
	z-index: 100;
	width: 457px;
	max-width: 85%;
	max-height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	@include transition-value();
	&.show{
		right: 0;
		@include breakpoint(lg){
			right: -457px;
		}
	}
	a{
		color: $clr-white;
	}
}

.sidebar-menu-header{
	@include dFlex();
	@include alignItems(center);
	@include justifyContent(space-between);
	padding: 25px 24px 23px 15px;
}

.btn-close-menu{
	@include square(38px);
	background-color:rgba($clr-white,0.69);
	@include dFlex();
	@include alignItems(center);
	@include justifyContent(center);
}

.main-menu{
	@extend %list-type;
	.nav-item{
		border-bottom: 1px solid rgba($clr-white,0.69);
		a{
			display: block;
		}
		.nav-link{
			padding: 15px 18px 17px 18px;
			font-size: 18px;
			i{
				font-size: 24px;
			}
		}
		&.dropdown{
			.nav-link{
				position: relative;
				padding-right: 60px;
				&:after{
					content: "";
					@extend .ico-6;
					position: absolute;
					right: 33px;
					top: 25px;
					@include transition-value();
				}
			}
			&.show{
				.nav-link{
					&:after{
						@include transform(rotate(180deg));
					}
				}
			}
		}

		.dropdown-menu{
			border: none;
			padding: 0;
			@include border-radius(0);
			background-color: rgba($clr-white,0.3);
			position: static !important;
			transform: none !important;
			float: none;
			li{
				&:not(:last-child){
					border-bottom: 1px solid rgba($clr-white,0.69);
				}
			}
			.dropdown-item{
				padding: 15px 20px 17px 45px;
				color: $clr-white;
				font-size: 18px;
				&:hover, &:focus{
					color: $clr-white;
					background-color: transparent;
				}
			}
		}
	}
}

.fixed-header{
	.header-top, .header-middle{
		position: fixed;
		z-index: 90;
		left: 0;
		width: 100%;
	}
	.header-top{
		top:0;
		@include box-shadow(0 3px 7px rgba($clr-black,0.2));
		@include breakpoint(lg){
			@include box-shadow(none);
		}
	}
	.header-middle{
		top:40px;
		@include box-shadow(0 3px 7px rgba($clr-black,0.2));
		.navbar-brand{
			img{
				max-height: 55px;
			}
		}
	}
}
.search-wrapper{
	position: relative;
	.input-holder{
		height: 40px;
		position: relative;
		transition: all 0.3s ease-in-out;
		display: flex;
		button{
			float: right;
		}
		.search-input{
			height: 36px;
			width: 0px;
			border: 0;
			position: absolute;
			top: 0;
			right: 0;
			background: none;
			z-index: 3;
			transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
			cursor: pointer;
			margin-top: 2px;
			line-height: 20px;
			padding-top: 7px;
			padding-bottom: 7px;
			&:focus{
				width: 200px;
				z-index: 1;
				cursor: text;
				padding-right: 40px;
				background-color: $clr-white;
				box-shadow: none;
				@include breakpoint(md){
					width: 500px;
				}
				& ~ .btn-search-submit{
					color: $clr-black;
					position: absolute;
					top: 50%;
					right: 10px;
					transform: translateY(-50%);
					z-index: 5;
					margin-top: -2px;
				}
			}
		}
		.fa-search{
			&::before{
				font-size: 22px;
				@include breakpoint(lg){
					font-size: 16px;
				}
			}
		}
	}
}

.navbar-faculty.navbar-expand-lg .navbar-nav .nav-link{
	padding: 8px 15px;
	font-size: 18px;
	@include breakpoint(xl){
		padding: 8px 22px;
	}
}