/* banner-fixed */
.banner-fixed{
	position: relative;
	.panel{
		-webkit-font-smoothing: antialiased;
		color: #fff;
		overflow: hidden;
		width: 100%;
		// height: calc(100vh - 2.6111111111em);
		position: relative;
		transition: height .1s ease;
		// @media only screen and (min-width: 1024px) {
		// 	padding-top: 37.5px;
		// 	padding-bottom: 37.5px;
		// }
		// @media only screen and (min-width: 1500px) {
		// 	padding-top: 43.75px;
		// 	padding-bottom: 43.75px;
		// }
		@media (max-width: 577px){
			// height: 380px;
		}
		picture{
			display: block;
			overflow: hidden;
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: none;
			margin: 0;
		}

		.cover-height, .cover-height-mb{
			position: relative;
			z-index: -201;
			width: 100%;
		}
		.inner-panel{
			position: fixed;
			// z-index: -200;
			z-index: 1;
			width: auto;
			// top: 50%;
			// left: 50%;
			// transform: translate3d(-50%,-50%,0) scale(1);
			// -webkit-transform: translate3d(-50%,-50%,0) scale(1);
			margin: auto;
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
			min-width: calc(100% + 1px);
			// min-height: calc(100% + 1px);
			overflow: hidden;
			height: auto;
			font-family: "object-fit:cover;";
			max-width: none;
			max-height: none;
			top: 61px;
			left: 0;
			right: 0;
			width: 100%;
			@include breakpoint(lg){
				top: 127px;
			}
			@media (max-width: 577px){
				height: 380px;
			}
			img{
				width: 100%;
			}
		}
	}
	.owl-theme .owl-nav.disabled + .owl-dots{
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		margin-top: 0;
		@include breakpoint(xl){
			bottom: percentage(275/938);
		}
	}
	.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
		background-color: $clr-1;
	}
}
.banner-item{
	position: relative;
}
.banner-caption{
	display: block;
	position: absolute;
	left: 0;
	width: 100%;
	z-index: 1;
	top: 13%;
	height: 100%;
	background-color: rgba($clr-black,0.2);
	@include breakpoint(lg){
		top: 0;
	}
	h2{
		text-transform: uppercase;
		font-size: 30px;
		font-weight: bold;
		color: $clr-white;
		margin-bottom: 0;
		line-height: 1.6;
		max-width: 600px;
		margin-right: auto;
		margin-left: auto;
		text-align: center;
		@include UTMAvo();
		@include breakpoint(md){
			margin-top: 8.2%;
			font-size: 45px;
		}
		@include breakpoint(xl){
			font-size: 59px;
			max-width: 830px;
		}
	}
}
.panel[data-type=splash-image][data-scroll-type=parallax] {
    background-color: transparent;
}


/* main-content */
.main-content {
	position: relative;
	background-color: $clr-white;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	width: 100%;
	padding: 40px 0;
	z-index: 2;
}


/* section-announce */
.section-announce{
	padding-top: 28px;
	margin-bottom: 28px;
	@include breakpoint(md){
		margin-bottom: 95px;
	}
	.row{
		margin-left: -5px;
		margin-right: -5px;
		[class*="col-"]{
			padding-right: 5px;
			padding-left: 5px;
		}
		@include breakpoint(xl){
			margin-right: -25px;
			margin-left: -25px;
			[class*="col-"]{
				padding-right: 25px;
				padding-left: 25px;
			}
		}
	}
	.section-heading{
		margin-bottom: 30px;
		@include breakpoint(md){
			margin-bottom: 46px;
		}
	}
}
.s-border-bottom{
	@media (max-width: 767px){
		border-bottom: 1px solid #cfcfcf;
		padding-bottom: 36px;
	}
}

.announce-item{
	padding-bottom: 34px;
	// @include breakpoint(md){
	// 	padding-top: 26px;	
	// }
	.img{
		margin-bottom: 6px;
		@include breakpoint(md){
			margin-bottom: 25px;
		}
	}
	.text{		
		h3{
			font-size: 20px;
			color: $clr-black;
			font-weight: 700;
			// @include Muli();
			a{
				color: $clr-black;
				&:hover{
					color: $clr-1;
				}
			}
		}
	}
	&.special{
		@media (max-width: 767px) {
			position: relative;
			margin-bottom: 10px;
			.text{
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				padding: 10px 34px 5px;
				background: url('../images/bg/gradient-transparent.png') repeat-x 0 top;
				background-size: auto 100%;
				h3{
					color: $clr-white;
					font-size: 20px;
					a{
						color: $clr-white;
					}
				}
			}
		}
	}
	@media (max-width: 767px) {
		.text{
			h3{
				font-size: 18px;
			}
		}
	}
}

/* section-home-news */
.section-home-news{
	margin-bottom: 28px;
	@include breakpoint(md){
		margin-bottom: 48px;
	}
	.section-heading{
		margin-bottom: 34px;
		@include breakpoint(md){
			margin-bottom: 50px;
		}
	}
	.news-item {
		h3{
			margin-bottom: 3px;
		}
		.text {
			@media (max-width: 767px) {
				padding: 8px 8px 15px;
			}
		}
		.desc{
			overflow: hidden;
			@media (max-width: 767px) {
				height: 42px;
			}
		}
	}
	.featured-news{
		.featured-news-title{
			@include breakpoint(md){
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}
	}
	.group-sub-featured{
		&>[class*="col-"]{
			margin-bottom: 10px;
		}
	}
}
.featured-news{
	position: relative;
	margin-bottom: 20px;
	@include box-shadow(0 4px 10px rgba($clr-black,0.16));
	@media (max-width: 767px) {
		margin-bottom: 10px;
	}
	.thumb-big{
		img{
			width: 100%;
			display: block;
		}
	}
	.bd{
		background: url('../images/bg/gradient-transparent.png') repeat-x 0 top;
		background-size: auto 100%;
		padding: 15px;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
	}
	.in-category{
		font-size: 16px;
		text-transform: uppercase;		
		display: inline-block;
		margin-bottom: 10px;
		color: $clr-white;
		position: relative;
		font-weight: bold;
		@include breakpoint(md){
			@include Muli();
			padding-bottom: 5px;
			font-size: 14px;
			font-weight: normal;
			&::after{
				display: block;
				height: 1px;
				content: '';
				background-color: $clr-white;
				position: absolute;
				bottom: 0;
				width: 100%;
				left: 0;
			}
		}
	}
}
.featured-news-title{
	font-size: 16px;
	font-weight: bold;
	color: $clr-white;
	margin-bottom: 10px;
	a{
		color: inherit;
	}
	@include breakpoint(md){
		font-size: 18px;
	}
}

/* section-activities-event */
.section-activities-event{
	margin-bottom: 28px;
	@include breakpoint(md){
		background-color: $clr-2;
		padding: 50px 0 74px 0;
		margin-bottom: 66px;
	}
}
.boxs{
	position: relative;
	@include breakpoint(md){
		padding: 32px 15px;
		border-radius: 3px;
		background-color: $clr-white;
	}
	@include breakpoint(lg){
		height: 100%;
	}
}
.boxs-activities{
	margin-bottom: 15px;
	@media (max-width: 767px){
		margin-bottom: 0;
	}
}
.boxs-event{
	@media (max-width: 767px){
		border-bottom: 1px solid #cfcfcf;
		padding-bottom: 30px;
		margin-bottom: 25px;
		.post-item{
			padding-top: 30px;
		}
		.events{
			padding-bottom: 15px;
		}
	}
}
.featured-activities{
	margin-bottom: 20px;
	position: relative;
	.bd{
		@include breakpoint(md){
			background: url('../images/bg/gradient-transparent.png') repeat-x 0 top;
			background-size: auto 100%;
			padding: 15px;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
		}
		@media (max-width: 767px){
			padding: 15px;
			@include box-shadow(0 3px 7px rgba($clr-black,0.16));
		}
	}
	.featured-news-title{
		@media (max-width: 767px){
			color: $clr-black;
		}
	}
}
.featured-activities-text{
	font-size: 16px;
	line-height: 21px;
	height: 63px;
}
.card-grid{
	margin-bottom: 16px;
}
.card-grid-img{
	float: left;
	width: 100px;
	margin-bottom: 0;
	@include breakpoint(md){
		width: percentage(204/550);
	}
}
.card-grid-body{
	overflow: hidden;
	padding-left: 15px;
}
.card-grid-title{
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 14px;
	line-height: 1.4;
	color: $clr-text;
	a{
		color: inherit;
		&:hover{
			color: $clr-1;
		}
	}
}
.card-grid-text{
	font-size: 16px;
	line-height: 21px;
	height: 63px;
	overflow: hidden;
}
.post-image{
	display: block;
	overflow: hidden;
    img{
    	width: 100%;
		display: block;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		-webkit-transform: scale(1) translateZ(0);
		-moz-transform: scale(1) translateZ(0);
		transform: scale(1) translateZ(0);
		-webkit-transition: -webkit-transform .3s ease-in-out;
		-moz-transition: -moz-transform .3s ease-in-out;
		transition: transform .3s ease-in-out;
    }
    &:hover{
    	img{
			-webkit-transform: scale(1.04);
			-moz-transform: scale(1.04);
			transform: scale(1.04);
    	}
    }
}
.post-item{
	ul{
		list-style: none;
		padding-left: 0;
		margin-bottom: 0;
		padding-top: 21px;
		@include breakpoint(md){
			padding-left: 54px;
		}
		li{
			color: $clr-1;
			font-size: 14px;
			display: flex;
			align-items: center;
			&:not(:last-child){
				margin-bottom: 6px;
			}
			.icon-wrap{
				@include flexWidth(28px);
				text-align: center;
			}
		}
	}
	@media (max-width: 767px){
		&::after{
			display: block;
			clear: both;
			content: "";
		}
		.post-item-body{
			padding-left: 12px;
			overflow: hidden;
		}
	}
}
.post-item-img{
	margin-bottom: 14px;
	position: relative;
	@media (max-width: 767px){
		float: left;
		width: percentage(320/726);
		margin-bottom: 0;
	}
	@include breakpoint(md){
		margin-left: 60px;
		margin-right: 60px;
	}
	.livetimes{
		position: absolute;
		top: -23px;
		left: 44px;
		@include breakpoint(md){
			top: 22px;
			left: 22px;
		}
	}
}
.livetimes{
	background-color: $clr-1;
	width: 70px;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	color: $clr-white;
	.inner{

	}
	.liveday{
		font-family: 'Muli';
		font-size: 30px;
		font-weight: bold;
		line-height: 1;
		display: block;
		text-align: center;
	}
	.in-month{
		font-size: 12px;
		text-transform: uppercase;
		display: block;
		text-align: center;
		margin-top: 3px;
	}
}
.post-item-title{
	font-size: 18px;
	line-height: 1.3333333333;
	font-weight: bold;
	margin-bottom: 0;
	@include breakpoint(md){
		font-size: 20px;
		line-height: 1.4;
		text-align: center;
	}
}
.ico-clock{
	@extend .ico-18;
}
.ico-location{
	@extend .ico-19;
}

/* section-specialized */
.section-specialized{
	margin-bottom: 30px;
	@include breakpoint(md){
		margin-bottom: 61px;
	}
	.section-heading{
		margin-bottom: 34px;
		@include breakpoint(md){
			margin-bottom: 54px;
		}
	}
	.announce-item{
		@media (max-width: 767px) {
			@include box-shadow(0 3px 7px rgba($clr-black,0.16));
			padding-bottom: 0;	
		}
		.img{
			@include breakpoint(md){
				margin-bottom: 20px;
			}
		}
	}
	@media (max-width: 767px) {
		.more, .specialized-short-text{
			display: none;
		}
		.in-category{
			font-weight: bold;
			text-transform: uppercase;
			color: $clr-1;
			margin-bottom: 10px;
		}
		.announce-item{
			height: 100%;
			.text{
				padding: 10px;
				h3{
					margin-bottom: 0;
				}
			}
		}
	}
	.row-specialized{
		&>.col-md-4{
			margin-bottom: 20px;
		}
	}
}
.specialized-short-text{
	font-size: 16px;
	line-height: 24px;
	max-height: 72px;
	margin-bottom: 20px;
}
.more{
	display: inline-block;
	color: $clr-1;
	font-size: 16px;
	font-weight: bold;
	position: relative;
	padding-right: 24px;
	&::after{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 0;
		content: '';
		@extend .ico-20;
	}
}

/* section-testmonial */
.section-testmonial{
	margin-bottom: 28px;
	position: relative;
	&>.container{
		position: relative;
		padding-bottom: 10px;
		@media (max-width: 767px){
			&::before{
				background-color: $clr-1;
				content: '';
				display: block;
				height: calc(100% - 100px);
				position: absolute;
				bottom: 0;
				left: 15px;
				width: calc(100% - 30px);
			}
		}
	}
	@include breakpoint(md){
		padding-top: 57px;	
		padding-bottom: 33px;
		background-color: $clr-1;
	}
}
.testmonials{
	&.owl-theme .owl-dots .owl-dot span{
		background-color: rgba($clr-white,.3);
	}
	&.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
	  background-color: $clr-white;
	}
}
.testmonial-item{
	max-width: 810px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 18px;
	padding-left: 10px;
	padding-right: 10px;
	.testmonial-wrap{
		position: relative;
		z-index: 1;
	}
	@include breakpoint(md){
		margin-bottom: 34px;
	}
	.testmonial-img{
		margin-bottom: 20px;
		@include breakpoint(md){
			margin-bottom: 64px;
		}
		img{
			width: 200px;
			height: 200px;
			border: 2px solid $clr-white;
			border-radius: 50%;
			display: block;
			margin: 0 auto;
			@include breakpoint(md){
				width: 265px;
				height: 265px;
			}
		}
	}
	blockquote{
		padding: 0;
		margin: 0 0 20px 0;
		color: $clr-white;
		border: 0;
		font-size: 20px;
		line-height: 1.5;
		text-align: center;
		@include breakpoint(md){
			font-size: 26px;
			margin-bottom: 46px;
		}
	}
	.testmonial-author{
		color: $clr-white;
		position: relative;
		padding-bottom: 17px;
		text-align: center;
		&::after{
			height: 1px;
			width: 112px;
			background-color: $clr-white;
			content: '';
			display: block;
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
		}
		.testmonial-name{
			text-transform: uppercase;
			font-size: 20px;
			font-weight: bold;
			margin-bottom: 12px;
			@include breakpoint(md){
				font-size: 18px;
				margin-bottom: 22px;
			}
		}
		.position{
			font-size: 18px;
			@include breakpoint(md){
				font-size: 14px;
			}
		}
	}
}

/* section-career */
.section-career{
	margin-bottom: 30px;
	@include breakpoint(md){
		margin-bottom: 47px;
	}
	.section-heading{
		margin-bottom: 34px;
		@include breakpoint(md){
			margin-bottom: 76px;
		}
	}
	.list-careers{
		margin-left: -8px;
		margin-right: -8px;
		@media (max-width: 767px){
			margin-bottom: 12px;
		}
		&>[class*="col-"]{
			padding-left: 8px;
			padding-right: 8px;
		}
	}
}
.card-change{
	background-color: $clr-white;
	@include box-shadow(0 4px 10px rgba($clr-black,0.16));
	min-height: 100%;
}
.card-change-body{
	padding: 10px 15px;
	@include breakpoint(md){
		padding-top: 15px;
		padding-bottom: 15px;
	}
}
.card-change-title{
	font-weight: 700;
	line-height: 18px;
	height: 72px;
	font-size: 15px;
	margin-bottom: 0;
	a{
		color: inherit;
		&:hover{
			color: $clr-1;
		}
	}
	@include breakpoint(md){
		height: 88px;
		font-size: 16px;
		line-height: 22px;
	}
}
.career-item{
	margin-bottom: 15px;
	@include breakpoint(lg){
		margin-bottom: 46px;
	}
	&::after{
		display: block;
		clear: both;
		content: "";
	}
	@media (max-width: 767px){
		background-color: #fafafa;
		.card-change-img{
			width: percentage(315/715);
			max-width: 180px;
		}
		.card-change-body{
			overflow: hidden;
		}
		&:nth-child(2n){
			.card-change-img{
				float: right;
			}
		}
		&:nth-child(2n+1){
			.card-change-img{
				float: left;
			}
		}
	}
	
}

/* section-student */
.section-student{
	@include breakpoint(md){
		background-color: #f9f6ef;
		padding-top: 50px;
		padding-bottom: 50px;
	}
	@media (max-width: 767px){
		margin-bottom: 30px;
		.announce-item{
			background-color: #f9f6ef;
			padding-bottom: 10px;
			margin-bottom: 15px;
			.text{
				padding-left: 10px;
				padding-right: 10px;
			}
		}	
	}
	.section-heading{
		margin-bottom: 30px;
		@include breakpoint(md){
			margin-bottom: 50px;
		}
	}
}

/* section-about-us */
.section-about-us{
	margin-bottom: 20px;
	@include breakpoint(md){
		padding-top: 26px;
		margin-bottom: 44px;
	}
	.section-heading{
		margin-bottom: 34px;
		@include breakpoint(md){
			margin-bottom: 48px;
		}
	}
}
.box-statistical{
	margin-bottom: 25px;
	text-align: center;
	@include breakpoint(md){
		margin-bottom: 69px;
	}
	.text{
		font-size: 16px;
		color: #555;
		display: inline-block;
		margin-bottom: 7px;
		@include breakpoint(md){
			font-size: 22px;
		}
	}
	.number{
		color: $clr-2;
		font-weight: bold;
		font-size: 34px;
		@include breakpoint(md){
			font-size: 50px;
		}
	}
}