.section-library{
	@include breakpoint(md){
		padding-top: 15px;
	}
	.section-heading{
		margin-bottom: 50px;
	}
}

.library{
	margin-bottom: 60px;
	@include breakpoint(md){
		margin-bottom: 80px;
	}
	.btn{
		min-width: 235px;
		margin-top: 25px;
		@include breakpoint(md){
			margin-top: 10px;
		}
	}
}

.title-library{
	margin-bottom: 20px;
	font-size: 18px;
	font-weight: normal;
	color: $clr-black;
	@include breakpoint(md){
		font-size: 24px;
	}
}