/* news detail photo */
.section-news-detail.photo-list{
	margin-bottom: 74px;
	@include breakpoint(md){
		margin-bottom: 140px;
	}
	.section-heading{
		margin-bottom: 34px;
		@include breakpoint(md){
			margin-bottom: 72px;
		}
	}
}
.photo-item{
	background-color: $clr-white;
	@include box-shadow(0 4px 10px rgba($clr-black,0.16));
	margin-bottom: 24px;
	@include breakpoint(md){
		padding-bottom: 8px;
		margin-bottom: 54px;
		padding-top: 8px;
		@include dFlex();
		@include alignItems(center);
	}
	a,img{
		display: block;
	}
}

.post-update{
	color: $clr-black;
	font-size: 16px;
	margin-bottom: 34px;
	@include breakpoint(md){
		color: $clr-1;
		margin-bottom: 36px;
	}
}

.pt-md-60{
	@include breakpoint(md){
		padding-top: 60px;
	}
}

.view-all-photo{
	display: inline-block;
	color: $clr-1;
	font-size: 24px;
	font-style: italic;
	@include breakpoint(md){
		font-size: 30px;
	}
	i{
		vertical-align: middle;
		margin-right: 20px;
		position: relative;
		top: -2px;
	}
}

.bottom-page{
	padding-top: 23px;
	@include breakpoint(lg){
		padding-top: 0;
	}
	.pagination{
		margin-top: 6px;
		margin-bottom: 0;
		padding-top:48px;
		@include breakpoint(lg){
			padding-top: 0;
		}
	}
}

.page-link{
	color: $clr-black;
	@include border-radius(0 !important);
	&:hover, &:focus{
		color: $clr-white;
		background-color: #007bff;
    border-color: #007bff;
	}
}
.active{
	.page-link{
		color: $clr-white;
	}
}

/* event detail */
.main-content-gray{
	background-color: #f9f6ef;
	padding: 0;
}

.section-detail{
	position: relative;
	padding-bottom: 38px;
	@include breakpoint(lg){
		padding-bottom: 50px;
	}
	.col-lg-3{
		@include breakpoint(xl){
			@include flexWidth(385px);
		}
	}

	.offset-lg-3{
		@include breakpoint(xl){
			margin-left: 385px;
		}
	}

	.col-lg-9{
		@include breakpoint(xl){
			@include flexWidth(calc(100% - 385px));
			padding-left:25px;
		}
	}
}

.header-detail{
	background-color: #20409a;
	color: $clr-white;	
	padding-bottom:16px;
	text-align: center;
	@include breakpoint(lg){
		text-align: left;
		padding-top: 105px;
		padding-bottom:55px;
	}
	a{
		color: $clr-white;
	}
	h4,h1, h3{
		margin-bottom: 0;
	}
	h4{
		font-size: 17px;
		text-decoration: underline;
		@include breakpoint(lg){
			font-size: 18px;
		}
	}
	.single-event-title{
		font-size: 18px;
		font-weight:700;
		margin-bottom: 19px;
		@include breakpoint(lg){
			font-size: 36px;
			margin-bottom: 33px;
		}
	}
	h3{
		font-size: 17px;
		font-weight: normal;
		@include breakpoint(lg){
			font-size: 18px;
		}
		span{
			text-transform: uppercase;
		}
	}
	img{
		margin-bottom: 17px;
	}
}

.sidebar-left{
	@include breakpoint(lg){
		background-color: $clr-white;
		@include box-shadow(0 6px 14px rgba($clr-black,0.16));
		@include border-radius(0 0 5px 5px);
	}
	@include breakpoint(lg){
		margin-top: -173px;
	}
}

.sidebar-left-content{
	padding: 25px 0 20px;
	font-size: 15px;
	@include breakpoint(lg){
		padding-left: 20px;
		padding-right: 20px;
	}
	ul{
		@extend %list-type;
		li{
			@include dFlex();
			@include flexWrap();
			@include justifyContent(space-between);
			position:relative;
			padding-left: 42px;
			@include breakpoint(lg){
				display: block !important;
			}
			&:not(:last-child){
				margin-bottom: 14px;
				@include breakpoint(lg){
					margin-bottom: 24px;
				}
			}
			i{
				position:absolute;
				top: 3px;
				left: 0;
			}
			a{
				color: #006cbe;
				text-decoration: underline;
			}
			.right{
				@include breakpoint(lg){
					margin-top: 10px;
				}
			}
			.time{
				color: #747474;
				font-size: 14px;
			}
		}
	}
}

.entry{
	color: #2f2424;
	h2,h3,h4{
		font-weight: 700;
	}
	h2{
		font-size: 28px;
	}
	h3{
		font-size: 26px;
	}
	h4{
		font-size: 24px;
	}
}

.title-entry{
	font-weight:700;
	font-size: 18px;
	color: #2e2d29;
	margin-top: 22px;
	margin-bottom: 30px;
	text-align: center;
	@include breakpoint(lg){
		margin-top: 30px;
		text-align: left;
		font-size: 30px;
		margin-bottom: 18px;
	}
}

.entry{
	line-height: 1.5;
	padding-bottom: 20px;
	@include breakpoint(lg){
		line-height: 1.9;
	}
	p{
		margin-bottom: 22px;
		@include breakpoint(lg){
			margin-bottom: 30px;
		}
	}
}

.tags{
	padding-bottom:10px;
	a{
		display: inline-block;
		border: 1px solid #dfdfdf;
		background-color: $clr-white;
		color: #2f2424;
		padding: 5px 22px 7px;
		margin-bottom: 6px;
		&:hover, &:focus{
			background-color: $clr-1;
			color: $clr-white;
			border-color: $clr-1;
		}
		&:not(:last-child){
			margin-right: 5px;
			@include breakpoint(md){
				margin-right: 40px;
			}
		}
	}
}

.bottom-entry{
	border-top: 1px solid #cbc9c5;
	padding-top: 16px;
	.tags{
		margin-bottom: 10px;
	}
}

.share{
	@include dFlex();
	@include flexWrap();
	margin-bottom:10px;
	span{
		margin-right: 25px;
		margin-top: 4px;
	}
	ul{
		@extend %list-type;
		@include dFlex();
		border:1px solid #e2e2e2;
		height: 32px;
		@include breakpoint(md){
			height: 45px;
		}
		li{
			height: 30px;
			@include breakpoint(md){
				height: 43px;
			}
			&:not(:last-child){
				border-right: 1px solid #e2e2e2;
			}
			a{
				display: block;
				font-size: 0;
			}
			i{
				@include square(30px);
				background-color: $clr-white;
				text-align: center;
				@include dFlex();
				@include alignItems(center);
				@include justifyContent(center);
				font-size: 16px;
				@include breakpoint(md){
					@include square(43px);
					font-size: 24px;
				}
			}
			.fa-facebook{
				color: #4267b2;
			}
			.fa-twitter{
				color: #2ab5e8;
			}
			.fa-pinterest-p{
				color: #fc1010;
			}
		}
	}
}

.entry-update{
	margin-bottom: 10px;
}

/* news video */
.section-news-detail.video{
	padding-bottom: 38px;
	@include breakpoint(md){
		padding-bottom: 60px;
	}
	.section-heading{
		margin-bottom: 34px;
		@include breakpoint(md){
			margin-bottom: 72px;
		}
	}
}

.video-youtube{
	margin-bottom: 25px;
	@include breakpoint(md){
		margin-bottom:58px;
	}
	iframe{
		width: 100%;
		height:333px;
		border: 0;
		@include breakpoint(md){
			height: 757px;
		}
	}
}

/* section-news-detail news */
.section-news-detail.news{
	padding-top: 25px;
	@include breakpoint(md){
		padding-top: 58px;
	}
}

.news-post{
	font-size: 14px;
	color: #af4b00;
	margin-bottom: 0;
	@include breakpoint(md){
		font-size: 20px;
	}
}

.title-news-detail {
	font-weight: 700;
	font-size: 18px;
	color: $clr-black;
	margin-bottom: 27px;
	@include breakpoint(md){
		margin-bottom: 37px;
		font-size: 30px;
	}
}

.short-text{
	color: #af4b00;
	font-size: 18px;
	font-style: italic;
	@include Muli();
	margin-bottom: 20px;
	@include breakpoint(md){
		margin-bottom: 50px;
	}
}

.content-detail {
	@include breakpoint(lg){
		padding-left: 70px;
		position: relative;
	}
	.share-top{
		position: absolute;
		top: 12px;
		left: 0;
		z-index: 2;
		ul{
			display: block;
			height: auto;
			width: 45px;
			li{
				width: 43px;
				&:not(:last-child){
					border-right: 0;
					border-bottom: 1px solid #e2e2e2;
				}
			}
		}
	}

	.entry{
		color: $clr-black;
	}
}

.entry{
	figure{
		max-width: 585px;
		margin-bottom: 22px;
		@include breakpoint(md){
			margin-bottom: 48px;
		}
		@media (max-width: 860px){
			float: none !important;
			max-width: unset;
			text-align: center;
			margin-left: 0 !important;
			margin-right: 0 !important;
		}
	}
	figcaption{
		font-style:italic;
		margin-top: 7px;
		@include breakpoint(md){
			margin-top: 10px;
		}
	}
}

.text-orange{
	color: $clr-1;
}

.news-related{
	margin-top: 36px;
	padding-bottom: 45px;
	@include breakpoint(md){
		margin-top: 52px;
		padding-bottom: 90px;
	}		
	h2{
		text-align: center;
		font-size: 24px;
		margin-bottom: 25px;
		color: $clr-1;
		@include breakpoint(md){
			margin-bottom: 47px;
			font-size: 30px;
		}
	}
	.row{
		margin-right: -14px;
		margin-left: -14px;
		[class*="col-"]{
			padding-left: 14px;
			padding-right: 14px;
		}
	}
}
.relate-item{
	@include clearfix();
	background-color: $clr-white;
	@include box-shadow(0 3px 7px rgba($clr-black,0.16));
	@include border-radius(4px);
	padding: 18px;	
	@include dFlex();
	@include flexWrap();
	margin-bottom: 10px;
	@include breakpoint(lg){
		display: block;
		min-height: 100%;
	}
	.img{
		@include flexWidth(27%);
		@include breakpoint(lg){
			float:right;
			margin-left: 30px;
			width: 100px;
			max-width: unset;
		}
		img{
			width: 100%;
		}
	}
	.text{
		@media (max-width: 911px){
			@include flexWidth(73%);
			padding-left:14px;
		}
	}
	h4{
		color: $clr-1;
		text-transform: uppercase;
		font-size: 12px;
		font-weight: 700;
		margin-bottom: 3px;
		@include breakpoint(md){
			font-size: 13px;
			margin-bottom: 0;
		}
	}
	h3{
		color: $clr-black;
		font-size: 15px;
		font-weight:700;
		margin-bottom: 7px;
		line-height: 20px;
		max-height: 80px;
		@include breakpoint(md){
			margin-bottom: 12px;
		}
		a{
			color: $clr-black;
			&:hover{
				color: $clr-1;
			}
		}
	}

	.desc{
		line-height: 20px;
		max-height: 120px;
		@include breakpoint(lg){
			height: 120px;
		}
	}
}