.news-item{
	background-color: $clr-white;
	@include box-shadow(0 4px 10px rgba($clr-black,0.16));
	min-height: 100%;
	.img{
		position: relative;
		img{
			width: 100%;
		}
		.play-video{
			position: absolute;
			top:0;
			left: 0;
			width: 100%;
			height: 100%;
			@include dFlex();
			@include alignItems(center);
			@include justifyContent(center);
			background-color: rgba(#828282, 0.62);
			&:hover{
				i{
					@extend .ico-15;
				}
				@media (max-width: 767px){
					i{
						@include use-sprite('ico-26');
					}
				}
			}
			i{
				@media (max-width: 767px){
					@include use-sprite('ico-25');
				}
			}
		}		
	}
	.text{
		padding: 15px 15px 20px;
	}
	h3{
		text-transform: uppercase;
		color: $clr-1;
		font-size: 14px;
		font-weight: 700;
		margin-bottom: 13px;
		a{
			color: $clr-1;
		}
	}
	.desc{
		font-weight: 700;
		line-height: 21px;
		height: 84px;
	}
}

.section-news{
	margin-bottom: 17px;
	.section-heading{
		margin-bottom: 45px;
		@include breakpoint(md){
			margin-bottom: 80px;
		}
	}
	
}

.list-news{
	&.row{
		margin-right: -10px;
		margin-left: -10px;
		[class*="col-"]{
			padding-left: 10px;
			padding-right: 10px;
			margin-bottom: 25px;
		}
	}
}

.view-more{
	padding-top: 35px;
	.btn-orange{
		min-width: 235px;
	}
}