.section-register{
	margin-bottom: 22px;
	@include breakpoint(md){
		padding-top: 12px;
		margin-bottom: 143px;
	}
	.section-heading{
		margin-bottom: 24px;
		@include breakpoint(md){
			margin-bottom: 85px;
		}
	}
}

.nav-tabs-custom{
	margin-bottom: 18px;
	.nav-item{
		@include flexWidth(25%);
		&:last-child{
			@include flexWidth(50%);
		}
		&:not(:last-child){
			border-right: 1px solid #989898;
		}
		.nav-link{
			background-color: #e0e0e0;
			text-align: center;
			text-transform: uppercase;
			padding-top: 33px;
			padding-bottom: 33px;
			min-height: 100%;
			&:hover, &.active{
				background-color:$clr-1;
				color: $clr-white;
			}
		}
	}
}

.text-red{
	color: #ff0000 !important;
}

.form-register{
	@include breakpoint(md){
		border: 1px solid #707070;
		padding: 78px 55px 20px;
	}
	label{
		color: $clr-black;
		padding-left: 17px;
		margin-bottom: 6px;
		span{
			color: #ff0000;
		}
		@include breakpoint(md){
			padding-left: 0;
			position: absolute;
			left: 50px;
			font-style: italic;
			top: 50%;
			@include translate(0,-50%);
			&.hide{
				display: none;
			}
		}
	}

	.row{
		@include breakpoint(lg){
			margin-left: -30px;
			margin-right: -30px;
			.col-md-6{
				padding-right: 30px;
				padding-left: 30px;
			}
		}
	}

	.form-group{
		margin-bottom: 6px;
		position: relative;
		@include breakpoint(md){
			margin-bottom: 40px;
			height: 46px;
			select{
				position: absolute;
		    z-index: 2;
		    background-color: transparent;
		    width: calc(100% - 30px);
			}
		}
		@include breakpoint(lg){
			select{
				width: calc(100% - 60px);
			}
		}
	}

	.form-control{
		@include border-radius(0);
		background-color: #f3f3f3;
		border-color: #f3f3f3;
		color: $clr-black;		
		height: 46px;
		background-clip: unset;
		@include breakpoint(md){
			padding-left: 20px;
			padding-right: 20px;
			background-color: $clr-white;
			border-color: #707070;
		}
	}

	.btn{
		text-transform: uppercase;
		margin-top: 35px;
		min-width: 178px;
		font-weight: 700;
		@include breakpoint(md){
			margin-top: 10px;
		}
	}

	.note{
		margin-top: 46px;
		@include breakpoint(md){
			margin-top: 62px;
		}
		p{
			margin-bottom: 10px;
		}
	}
}

#switch-tab{
	background-color: $clr-1;
	color: $clr-white;
	@include border-radius(0);
	height: 44px;
	@include box-shadow(0 3px 7px rgba($clr-black, 0.16));
	margin-bottom: 28px;
}

.datepicker{
	min-width: 240px;
	table{
		width: 100%;
		font-size: 14px;
	}
}