.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  outline: none;
  margin: 0;
  padding: 0;
  &:focus {
    outline: none;
  }
  &.dragging {
    cursor: pointer;
    cursor: hand;
  }
}

.slick-slider {
  .slick-track,
  .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    outline: none;
  }
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  outline: none;
  z-index: 3;
  &:before {
    display: table;
    content: '';
  }
  &:after {
    display: table;
    content: '';
    clear: both;
  }
}

.slick-loading .slick-track {
  visibility: hidden;
  outline: none;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
  outline: none;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide {
  img {
    display: block;
  }
  &.slick-loading img {
    display: none;
  }
  &.dragging img {
    pointer-events: none;
  }
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
  outline: none;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
  outline: none;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Dots */

.slick-dots {
  cursor: pointer;
  position: absolute;
  margin: 0;
  padding: 0;
  outline: none;
  right: 10px;
  bottom: 20px;
  z-index: 10;
  li {
    display: inline-block;
    position: relative;
    margin: 0 4px;
    button {
      cursor: pointer;
      font-size: 0px;
      line-height: 0;
      display: block;
      width: 12px;
      height: 12px;
      padding: 0;
      color: red;
      border: 0;
      outline: none;
      background: transparent;
      &:after {
        cursor: pointer;
        content: "";
        width: 12px;
        height: 12px;
        border: 1px solid $clr-white;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 50%;
        background-color: rgba($clr-white,.25);
      }
    }
    &.slick-active {
      outline: none;
      button::after {
        cursor: pointer;
        background-color: $clr-white;
      }
    }
  }
}


.slick-arrow.slick-hidden {
  display: none;
}

.slick-prev, .slick-next {
  z-index: 5;
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
  &:hover, &:focus {
      outline: none;
      background-color: transparent;
      color: transparent;
      &:before {
          opacity: 0.9;
      }
  }
  &.slick-disabled:before {
      opacity: 0;
  }
  &:before {
      font-family: 'FontAwesome';
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      font-size: 30px;
      line-height: 1;
      color: #fff;
      opacity: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }
}

.slick-prev {
  left: 5px;
  [dir="rtl"] & {
      left: auto;
      right: 15px;
  }
  &:before {
      content:"\f104";
      [dir="rtl"] & {
          content: "\e902";
      }
  }
}

.slick-next {
  right: 15px;
  [dir="rtl"] & {
      left: 5px;
      right: auto;
  }
  &:before {
      content: "\f105";
      [dir="rtl"] & {
          content: "\e915";
      }
  }
}