//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `Extra small` as of 4.0
$screen-xs: 575px;

//** Deprecated `Small` as of 4.0
$screen-sm: 576px;

//** Deprecated `Medium` as of 4.0
$screen-md: 768px;

//** Deprecated `Large` as of 4.0
$screen-lg:992px;

//** Deprecated `Extra large` as of 4.0
$screen-xl: 1200px;

$font-size-base: 15px;

$clr-white: #fff;
$clr-black: #000;
$clr-text: #333333;

$clr-1: #f37423;  
$clr-2: #20409a; // blue
$clr-3: #f0f0f3; 
$clr-4: #ef9f0a; 
$clr-5: #ff0d71;
$clr-6: #bababa;
$clr-7: #3b2784;
