body {
    margin: 0;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif ;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
.ml-10 {
    margin-left: 10px;
}

.pb-20 {
    padding-bottom: 20px;
}

.error {
    background: #FFF1EF;
    border: 2px solid #E73828;
    color: #E73828;
    font-size: 15px;
    font-weight: bold;
    padding: 8px;
    text-align: center;
    margin: 0 auto 20px auto;
    width: 600px;
}

.success {
    background: #28a745;
    border: 2px solid #187f2e;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    padding: 8px;
    text-align: center;
    margin: 0 auto 20px auto;
    width: 600px;
}

.nav-item i {
    margin-right: 10px;
}
.department-list tbody tr td img{
    width: 120px;
    height: auto;
}

div.dataTables_wrapper div.dataTables_filter {
    text-align: right;
}

div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0.5em;
    display: inline-block;
    width: auto;
}

.custom-control-label {
    font-weight: 500 !important;
}

.span-link{
    color: #17a2b8;
    cursor: pointer;
}
.span-link:hover{
    color: #0000FF;
}

.mess-err{
    color: #E73828;
    padding-left: 8px;
}

.mess-err>span{
    display: block;
}

.err-ctrl{
    background-color: #FFF1EF;
    border-color: #E73828;
}