<div class="input-group">
    <img class="img_preview_<?= str_replace(['[', ']'], '', trim($name)) ?>" style="margin: 2px;" width="120" height="auto" src="<?= (isset($path) && !empty($path)) ? $path : '/img/system/no-image.png' ?>" alt="your image" />
</div>