<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Đại Nam</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="/admin/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="/admin/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
<!--    <link rel="stylesheet" href="/admin/dist/css/adminlte.min.css">-->
    <link rel="stylesheet" href="/admin/dist/css/AdminLTE.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <style>
        .error {
            background: #FFF1EF;
            border: 2px solid #E73828;
            color: #E73828;
            font-size: 15px;
            font-weight: bold;
            padding: 8px;
            text-align: center;
            margin: 0 auto 5px auto;
        }

        .success {
            background: #28a745;
            border: 2px solid #187f2e;
            color: #fff;
            font-size: 15px;
            font-weight: bold;
            padding: 8px;
            text-align: center;
            margin: 0 auto 20px auto;
        }
    </style>
</head>

<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <img src="/img/logo.png" alt="" />
        </div>
        <div style="font-size: 12px;">
            <?= $this->Flash->render() ?>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <?= $this->fetch('content') ?>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->

    <!-- jQuery -->
    <script src="/admin/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="/admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/admin/dist/js/adminlte.min.js"></script>

</body>

</html>
