.ico-1 {
  background-image: url('../images/sprites-s25ad12e05f.png');
  background-position: -50px -102px;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 23px;
  width: 17px;
  display: inline-block;
}

.ico-2 {
  background-image: url('../images/sprites-s25ad12e05f.png');
  background-position: -19px -36px;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 20px;
  width: 20px;
  display: inline-block;
}

.ico-3 {
  background-image: url('../images/sprites-s25ad12e05f.png');
  background-position: 0 -128px;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 27px;
  width: 26px;
  display: inline-block;
}

.ico-4 {
  background-image: url('../images/sprites-s25ad12e05f.png');
  background-position: 0 -102px;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 26px;
  width: 35px;
  display: inline-block;
}

.ico-5 {
  background-image: url('../images/sprites-s25ad12e05f.png');
  background-position: -17px 0;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 15px;
  width: 14px;
  display: inline-block;
}

.ico-6, .main-menu .nav-item.dropdown .nav-link:after {
  background-image: url('../images/sprites-s25ad12e05f.png');
  background-position: 0 -18px;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 9px;
  width: 14px;
  display: inline-block;
}

.ico-7 {
  background-image: url('../images/sprites-s25ad12e05f.png');
  background-position: 0 -155px;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 32px;
  width: 69px;
  display: inline-block;
}

.ico-8 {
  background-image: url('../images/sprites-s25ad12e05f.png');
  background-position: -46px -18px;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 18px;
  width: 18px;
  display: inline-block;
}

.ico-9 {
  background-image: url('../images/sprites-s25ad12e05f.png');
  background-position: -35px -102px;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 20px;
  width: 15px;
  display: inline-block;
}

.ico-10 {
  background-image: url('../images/sprites-s25ad12e05f.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 15px;
  width: 17px;
  display: inline-block;
}

.ico-11 {
  background-image: url('../images/sprites-s25ad12e05f.png');
  background-position: -43px 0;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 18px;
  width: 18px;
  display: inline-block;
}

.ico-12 {
  background-image: url('../images/sprites-s25ad12e05f.png');
  background-position: 0 -36px;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 19px;
  width: 19px;
  display: inline-block;
}

.ico-13 {
  background-image: url('../images/sprites-s25ad12e05f.png');
  background-position: -28px -18px;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 14px;
  width: 18px;
  display: inline-block;
}

.ico-14 {
  background-image: url('../images/sprites-s25ad12e05f.png');
  background-position: 0 -283px;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 64px;
  width: 65px;
  display: inline-block;
}

.ico-15, .news-item .img .play-video:hover i {
  background-image: url('../images/sprites-s25ad12e05f.png');
  background-position: 0 -347px;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 64px;
  width: 65px;
  display: inline-block;
}

.ico-16 {
  background-image: url('../images/sprites-s25ad12e05f.png');
  background-position: 0 -56px;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 18px;
  width: 18px;
  display: inline-block;
}

.ico-17 {
  background-image: url('../images/sprites-s25ad12e05f.png');
  background-position: -44px -56px;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 20px;
  width: 15px;
  display: inline-block;
}

.ico-18, .ico-clock {
  background-image: url('../images/sprites-s25ad12e05f.png');
  background-position: -39px -36px;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 20px;
  width: 20px;
  display: inline-block;
}

.ico-19, .ico-location {
  background-image: url('../images/sprites-s25ad12e05f.png');
  background-position: -38px -128px;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 23px;
  width: 16px;
  display: inline-block;
}

.ico-20, .more::after {
  background-image: url('../images/sprites-s25ad12e05f.png');
  background-position: -14px -18px;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 13px;
  width: 14px;
  display: inline-block;
}

.ico-21, .owl-arrow-white.owl-carousel .owl-nav button.owl-prev span {
  background-image: url('../images/sprites-s25ad12e05f.png');
  background-position: -30px -76px;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 26px;
  width: 15px;
  display: inline-block;
}

.ico-22, .owl-arrow-white.owl-carousel .owl-nav button.owl-next span {
  background-image: url('../images/sprites-s25ad12e05f.png');
  background-position: -45px -76px;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 26px;
  width: 15px;
  display: inline-block;
}

.ico-23, .owl-arrow-white.owl-carousel .owl-nav button.owl-prev:hover span {
  background-image: url('../images/sprites-s25ad12e05f.png');
  background-position: -15px -76px;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 26px;
  width: 15px;
  display: inline-block;
}

.ico-24, .owl-arrow-white.owl-carousel .owl-nav button.owl-next:hover span {
  background-image: url('../images/sprites-s25ad12e05f.png');
  background-position: 0 -76px;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 26px;
  width: 15px;
  display: inline-block;
}

.ico-25 {
  background-image: url('../images/sprites-s25ad12e05f.png');
  background-position: 0 -187px;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 48px;
  width: 49px;
  display: inline-block;
}

.ico-26 {
  background-image: url('../images/sprites-s25ad12e05f.png');
  background-position: 0 -235px;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 48px;
  width: 49px;
  display: inline-block;
}

.ico-27 {
  background-image: url('../images/sprites-s25ad12e05f.png');
  background-position: -18px -56px;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 19px;
  width: 26px;
  display: inline-block;
}

.ico-28 {
  background-image: url('../images/sprites-s25ad12e05f.png');
  background-position: -26px -128px;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 12px;
  width: 12px;
  display: inline-block;
}

.ico-29 {
  background-image: url('../images/sprites-s25ad12e05f.png');
  background-position: -31px 0;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 16px;
  width: 12px;
  display: inline-block;
}

@font-face {
  font-family: 'UTMAvo';
  src: url("../fonts/UTMAvo/UTMAvo.eot");
  src: url("../fonts/UTMAvo/UTMAvo.eot") format("embedded-opentype"), url("../fonts/UTMAvo/UTMAvo.woff2") format("woff2"), url("../fonts/UTMAvo/UTMAvo.woff") format("woff"), url("../fonts/UTMAvo/UTMAvo.ttf") format("truetype"), url("../fonts/UTMAvo/UTMAvo.svg#UTMAvo") format("svg");
}
@font-face {
  font-family: 'UTMAvo';
  src: url("../fonts/UTMAvo/UTMAvoBold.eot");
  src: url("../fonts/UTMAvo/UTMAvoBold.eot") format("embedded-opentype"), url("../fonts/UTMAvo/UTMAvoBold.woff2") format("woff2"), url("../fonts/UTMAvo/UTMAvoBold.woff") format("woff"), url("../fonts/UTMAvo/UTMAvoBold.ttf") format("truetype"), url("../fonts/UTMAvo/UTMAvoBold.svg#UTMAvoBold") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'UTMAvo';
  src: url("../fonts/UTMAvo/UTMAvoBold_Italic.eot");
  src: url("../fonts/UTMAvo/UTMAvoBold_Italic.eot") format("embedded-opentype"), url("../fonts/UTMAvo/UTMAvoBold_Italic.woff2") format("woff2"), url("../fonts/UTMAvo/UTMAvoBold_Italic.woff") format("woff"), url("../fonts/UTMAvo/UTMAvoBold_Italic.ttf") format("truetype"), url("../fonts/UTMAvo/UTMAvoBold_Italic.svg#UTMAvoBold_Italic") format("svg");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'UTMAvo';
  src: url("../fonts/UTMAvo/UTMAvoItalic.eot");
  src: url("../fonts/UTMAvo/UTMAvoItalic.eot") format("embedded-opentype"), url("../fonts/UTMAvo/UTMAvoItalic.woff2") format("woff2"), url("../fonts/UTMAvo/UTMAvoItalic.woff") format("woff"), url("../fonts/UTMAvo/UTMAvoItalic.ttf") format("truetype"), url("../fonts/UTMAvo/UTMAvoItalic.svg#UTMAvoItalic") format("svg");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Muli';
  src: url("../fonts/Muli/Muli-Regular.eot");
  src: url("../fonts/Muli/Muli-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Muli/Muli-Regular.svg#Muli-Regular") format("svg"), url("../fonts/Muli/Muli-Regular.ttf") format("truetype"), url("../fonts/Muli/Muli-Regular.woff") format("woff"), url("../fonts/Muli/Muli-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Muli';
  src: url("../fonts/Muli/Muli-Bold.eot");
  src: url("../fonts/Muli/Muli-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Muli/Muli-Bold.svg#Muli-Bold") format("svg"), url("../fonts/Muli/Muli-Bold.ttf") format("truetype"), url("../fonts/Muli/Muli-Bold.woff") format("woff"), url("../fonts/Muli/Muli-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Muli';
  src: url("../fonts/Muli/Muli-BoldItalic.eot");
  src: url("../fonts/Muli/Muli-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Muli/Muli-BoldItalic.svg#Muli-BoldItalic") format("svg"), url("../fonts/Muli/Muli-BoldItalic.ttf") format("truetype"), url("../fonts/Muli/Muli-BoldItalic.woff") format("woff"), url("../fonts/Muli/Muli-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Muli';
  src: url("../fonts/Muli/Muli-Italic.eot");
  src: url("../fonts/Muli/Muli-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Muli/Muli-Italic.svg#Muli-Italic") format("svg"), url("../fonts/Muli/Muli-Italic.ttf") format("truetype"), url("../fonts/Muli/Muli-Italic.woff") format("woff"), url("../fonts/Muli/Muli-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}
body {
  color: #333333;
  font-size: 15px;
  font-family: 'UTMAvo', sans-serif;
  line-height: 1.3;
  padding-top: 61px;
}
@media only screen and (min-width: 992px) {
  body {
    padding-top: 127px;
  }
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  line-height: 1.3;
}

img {
  max-width: 100%;
  height: auto !important;
  height: unset !important;
  width: auto;
}

a {
  color: #333333;
}
a:hover, a:focus {
  text-decoration: none;
  color: #f37423;
}

.nav-header, .main-menu, .about-us-ft ul, .list-links, .nav-footer ul, .sidebar-left-content ul, .share ul, .event-item ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}
button:focus {
  outline: none;
}

textarea {
  resize: none;
}

.form-control {
  font-size: 15px;
}

.btn-clear {
  border: none;
  background-color: transparent;
  padding: 0;
}

b, strong {
  font-weight: 700;
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
@media (min-width: 1300px) {
  .container {
    max-width: 1210px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 100%;
  }
}

.section-heading {
  margin-bottom: 20px;
}
.section-heading .section-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 0;
  text-align: center;
  text-transform: uppercase;
  color: #3b2784;
}
@media only screen and (min-width: 768px) {
  .section-heading .section-title {
    font-size: 40px;
    text-transform: unset;
    color: #20409a;
  }
}

@media (max-width: 767px) {
  .section-heading-line {
    padding-bottom: 20px;
    position: relative;
  }
  .section-heading-line::after {
    background-color: #3b2784;
    height: 1px;
    width: 33%;
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
  }
}

.section-title-sub {
  font-size: 18px;
  text-align: center;
  margin-top: 4px;
  font-family: 'Muli', sans-serif;
  max-width: 720px;
  margin-right: auto;
  margin-left: auto;
}
@media only screen and (min-width: 768px) {
  .section-title-sub {
    font-size: 24px;
  }
}

.wrapper {
  overflow: hidden;
}

.hover-scale {
  overflow: hidden;
}
.hover-scale a {
  display: block;
}
.hover-scale img {
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.hover-scale:hover img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

@media (max-width: 767px) {
  .row-sm-xs {
    margin-left: -5px;
    margin-right: -5px;
  }
  .row-sm-xs > [class*="col-"] {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.title-type-2 {
  margin-bottom: 20px;
  position: relative;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .title-type-2 {
    margin-bottom: 47px;
  }
  .title-type-2::before {
    height: 1px;
    width: 100%;
    content: '';
    display: block;
    background-color: #20409a;
    position: absolute;
    left: 0;
    top: 66%;
  }
}
@media (max-width: 767px) {
  .title-type-2 {
    padding-bottom: 15px;
  }
  .title-type-2::after {
    background-color: #3b2784;
    height: 1px;
    width: 33%;
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
  }
}
.title-type-2 h2 {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .title-type-2 h2 {
    font-size: 24px;
    color: #3b2784;
    text-transform: uppercase;
    font-weight: bold;
  }
}
@media only screen and (min-width: 768px) {
  .title-type-2 h2 {
    font-size: 30px;
    color: #20409a;
    padding: 0 28px;
    background-color: #fff;
    font-weight: bold;
  }
}

/* custom dots */
.owl-theme .owl-dots .owl-dot span {
  background-color: #b2b2b2;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background-color: #000;
}

/* custom nav */
.owl-carousel {
  position: relative;
}
.owl-carousel .owl-nav {
  margin-top: 0;
}
.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next {
  position: absolute;
  top: 40%;
  transform: translate(0, -40%);
  border: 2px solid #e0e0e0;
  background-color: transparent;
  z-index: 10;
  width: 50px;
  height: 50px;
  text-align: center;
  margin: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.owl-carousel .owl-nav button.owl-prev:hover, .owl-carousel .owl-nav button.owl-next:hover {
  border-color: #f37423;
  background-color: transparent;
}
.owl-carousel .owl-nav button.owl-prev span, .owl-carousel .owl-nav button.owl-next span {
  background-image: url(../images/control.png);
  background-repeat: no-repeat;
  overflow: hidden;
  height: 14px;
  width: 9px;
  display: inline-block;
  vertical-align: top;
  font-size: 0;
}
.owl-carousel .owl-nav button.owl-prev {
  left: 0;
}
.owl-carousel .owl-nav button.owl-prev span {
  background-position: 0 0;
}
.owl-carousel .owl-nav button.owl-prev:hover span {
  background-position: -9px 0;
}
.owl-carousel .owl-nav button.owl-next {
  right: 0;
}
.owl-carousel .owl-nav button.owl-next span {
  background-position: 0 -15px;
}
.owl-carousel .owl-nav button.owl-next:hover span {
  background-position: -9px -15px;
}

.btn {
  font-size: 18px;
  font-weight: normal;
}
@media only screen and (min-width: 768px) {
  .btn {
    font-size: 16px;
    font-weight: 700;
  }
}

.btn-orange {
  color: #fff;
  border-color: #f37423;
  background-color: #f37423;
}
.btn-orange:hover, .btn-orange:focus {
  color: #fff;
  border-color: #ef650d;
  background-color: #ef650d;
}

.btn-md {
  padding-bottom: 10px;
  padding-top: 10px;
  min-width: 235px;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  outline: none;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  outline: none;
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  outline: none;
  z-index: 3;
}
.slick-track:before {
  display: table;
  content: '';
}
.slick-track:after {
  display: table;
  content: '';
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
  outline: none;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
  outline: none;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
  outline: none;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
  outline: none;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Dots */
.slick-dots {
  cursor: pointer;
  position: absolute;
  margin: 0;
  padding: 0;
  outline: none;
  right: 10px;
  bottom: 20px;
  z-index: 10;
}
.slick-dots li {
  display: inline-block;
  position: relative;
  margin: 0 4px;
}
.slick-dots li button {
  cursor: pointer;
  font-size: 0px;
  line-height: 0;
  display: block;
  width: 12px;
  height: 12px;
  padding: 0;
  color: red;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:after {
  cursor: pointer;
  content: "";
  width: 12px;
  height: 12px;
  border: 1px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.25);
}
.slick-dots li.slick-active {
  outline: none;
}
.slick-dots li.slick-active button::after {
  cursor: pointer;
  background-color: #fff;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-prev, .slick-next {
  z-index: 5;
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
  outline: none;
  background-color: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before {
  opacity: 0.9;
}
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
  opacity: 0;
}
.slick-prev:before, .slick-next:before {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 30px;
  line-height: 1;
  color: #fff;
  opacity: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: 5px;
}
[dir="rtl"] .slick-prev {
  left: auto;
  right: 15px;
}
.slick-prev:before {
  content: "\f104";
}
[dir="rtl"] .slick-prev:before {
  content: "\e902";
}

.slick-next {
  right: 15px;
}
[dir="rtl"] .slick-next {
  left: 5px;
  right: auto;
}
.slick-next:before {
  content: "\f105";
}
[dir="rtl"] .slick-next:before {
  content: "\e915";
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: #fff;
}
header .dropdown-menu {
  background-color: #f37423;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  min-width: 250px;
  padding-top: 0;
  margin-top: 0;
}
header .dropdown-menu li:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.69);
}
header .dropdown-menu .dropdown-item {
  color: #fff;
  font-size: 18px;
  padding: 14px 18px 17px;
}
header .dropdown-menu .dropdown-item:hover, header .dropdown-menu .dropdown-item:focus {
  color: #fff;
  background-color: transparent;
}
@media only screen and (min-width: 992px) {
  header .dropdown-menu.style-2 {
    min-width: 103px;
    background-color: #fff;
    border: 1px solid #b3b3b3;
  }
  header .dropdown-menu.style-2 li:not(:last-child) {
    border: none;
  }
  header .dropdown-menu.style-2 .dropdown-item {
    color: #f37423;
    text-align: center;
    font-size: 18px;
    padding: 7px;
  }
}

.header-top {
  background-color: #f37423;
  color: #fff;
  font-size: 14px;
  padding: 9px 0 10px;
}
@media only screen and (min-width: 992px) {
  .header-top {
    padding: 0;
  }
}

.nav-header {
  display: none;
  margin-right: 95px;
}
@media only screen and (min-width: 992px) {
  .nav-header {
    display: -ms-flexbox;
    display: flex;
  }
}
.nav-header li:not(:last-child) {
  padding-right: 20px;
  border-right: 1px solid rgba(255, 255, 255, 0.69);
  margin-right: 20px;
}
.nav-header li a {
  color: #fff;
}

.social-hd ul {
  margin-bottom: 0;
}
.social-hd ul li {
  border-right: 1px solid rgba(255, 255, 255, 0.69);
  padding: 0 16px;
}
.social-hd ul li:first-child {
  border-left: 1px solid rgba(255, 255, 255, 0.69);
}
.social-hd ul li a {
  color: #fff;
}
.social-hd .list-inline-item:not(:last-child) {
  margin-right: 0;
}

.header-func .btn-clear {
  color: #fff;
}
.header-func .search {
  margin-right: 38px;
}
@media only screen and (min-width: 992px) {
  .header-func .search {
    /*border-right: 1px solid rgba(255, 255, 255, 0.69);*/
    padding-right: 10px;
    margin-right: 10px;
  }
    .sear-boder{
        border-right: 1px solid rgba(255, 255, 255, 0.69);
        height: 17.6px;
        float: right;
        position: relative;
        top: 12px;
        left: 10px;
    }

}
@media (max-width: 749px) {
  .header-func .search {
    margin-right: 15px;
  }
}

.language .btn-clear img {
  width: 28px;
  height: 18px;
}
@media only screen and (min-width: 992px) {
  .language .btn-clear img {
    margin-right: 5px;
  }
}
.language .dropdown-menu {
  transform: none !important;
  top: 100% !important;
  left: auto !important;
  right: 0;
    padding: 0;
}
.language .dropdown-menu .dropdown-item {
  font-size: 14px;
}

.header-middle {
  background-color: #fff;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.16);
  -ms-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.16);
  -o-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.16);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.16);
  position: relative;
  z-index: 3;
}

.logo-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}
.logo-header .navbar-brand {
  margin-right: 20px;
}
@media only screen and (min-width: 1200px) {
  .logo-header .navbar-brand {
    margin-right: 38px;
  }
}
@media only screen and (min-width: 992px) {
  .logo-header .navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
  }
  .logo-header .navbar-brand img {
    max-height: 72px;
  }
}
.logo-header .addmissions {
  color: #f37423;
  font-weight: 700;
  font-size: 20px;
}
@media only screen and (min-width: 1200px) {
  .logo-header .addmissions {
    font-size: 30px;
  }
}
.logo-header .addmissions a {
  color: #f37423;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 8px 5px;
  font-size: 16px;
}
@media only screen and (min-width: 1200px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 8px 10px;
    font-size: 18px;
  }
}
.navbar-expand-lg .navbar-nav .nav-link i {
  color: #030104;
  font-size: 20px;
}
.navbar-expand-lg .navbar-nav .nav-link i:hover {
  color: #f37423;
}
@media (max-width: 1439px) {
  .navbar-expand-lg .navbar-nav .nav-item:last-child .dropdown-menu {
    left: auto;
    right: 0;
  }
}
.navbar-expand-lg .navbar-nav .nav-item:last-child .nav-link {
  padding-right: 0 !important;
}
.navbar-expand-lg .navbar-nav .dropdown .dropdown-menu {
  display: block;
  opacity: 0;
  visibility: hidden;
  top: 110% !important;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.navbar-expand-lg .navbar-nav .dropdown:hover .dropdown-menu, .navbar-expand-lg .navbar-nav .dropdown.show .dropdown-menu {
  opacity: 1;
  visibility: visible;
  top: 100% !important;
}
@media only screen and (min-width: 992px) {
  .navbar-expand-lg .dropdown-menu {
    max-height: calc(100vh - 115px);
    overflow-y: auto;
  }
}

.logo-header-mb {
  -ms-flex-align: center;
  align-items: center;
}
.logo-header-mb img {
  max-width: 42px;
}
@media (max-width: 720px) {
  .logo-header-mb img {
    max-width: 42px;
  }
}
.logo-header-mb h1 {
  margin-left: 10px;
}
@media (max-width: 720px) {
  .logo-header-mb h1 {
    font-size: 15px;
  }
}

.name-site {
  font-size: 17px;
  font-weight: 700;
  margin: 0;
  text-shadow: 0 3px 7px rgba(0, 0, 0, 0.16);
}

.menu-btn {
  margin-left: 37px;
}
@media (max-width: 749px) {
  .menu-btn {
    margin-left: 15px;
  }
  .menu-btn .ico-4 {
    background-image: url('../images/sprites-s25ad12e05f.png');
    background-position: -18px -56px;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 19px;
    width: 26px;
    display: inline-block;
  }
}

.sidebar-menu-bg {
  background-color: rgba(0, 0, 0, 0.57);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  display: none;
}
.sidebar-menu-bg.show {
  display: block;
}
@media only screen and (min-width: 992px) {
  .sidebar-menu-bg.show {
    display: none;
  }
}

.sidebar-menu {
  position: fixed;
  top: 0;
  right: -457px;
  background-color: #f37423;
  color: #fff;
  z-index: 100;
  width: 457px;
  max-width: 85%;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.sidebar-menu.show {
  right: 0;
}
@media only screen and (min-width: 992px) {
  .sidebar-menu.show {
    right: -457px;
  }
}
.sidebar-menu a {
  color: #fff;
}

.sidebar-menu-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  padding: 25px 24px 23px 15px;
}

.btn-close-menu {
  width: 38px;
  height: 38px;
  background-color: rgba(255, 255, 255, 0.69);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main-menu .nav-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.69);
}
.main-menu .nav-item a {
  display: block;
}
.main-menu .nav-item .nav-link {
  padding: 15px 18px 17px 18px;
  font-size: 18px;
}
.main-menu .nav-item .nav-link i {
  font-size: 24px;
}
.main-menu .nav-item.dropdown .nav-link {
  position: relative;
  padding-right: 60px;
}
.main-menu .nav-item.dropdown .nav-link:after {
  content: "";
  position: absolute;
  right: 33px;
  top: 25px;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.main-menu .nav-item.dropdown.show .nav-link:after {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.main-menu .nav-item .dropdown-menu {
  border: none;
  padding: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.3);
  position: static !important;
  transform: none !important;
  float: none;
}
.main-menu .nav-item .dropdown-menu li:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.69);
}
.main-menu .nav-item .dropdown-menu .dropdown-item {
  padding: 15px 20px 17px 45px;
  color: #fff;
  font-size: 18px;
}
.main-menu .nav-item .dropdown-menu .dropdown-item:hover, .main-menu .nav-item .dropdown-menu .dropdown-item:focus {
  color: #fff;
  background-color: transparent;
}

.fixed-header .header-top, .fixed-header .header-middle {
  position: fixed;
  z-index: 90;
  left: 0;
  width: 100%;
}
.fixed-header .header-top {
  top: 0;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
}
@media only screen and (min-width: 992px) {
  .fixed-header .header-top {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
  }
}
.fixed-header .header-middle {
  top: 40px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
}
.fixed-header .header-middle .navbar-brand img {
  max-height: 55px;
}

.search-wrapper {
  position: relative;
}
.search-wrapper .input-holder {
  height: 40px;
  position: relative;
  transition: all 0.3s ease-in-out;
  display: flex;
}
.search-wrapper .input-holder button {
  float: right;
}
.search-wrapper .input-holder .search-input {
  height: 36px;
  width: 0px;
  border: 0;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  transition: width 0.4s cubic-bezier(0, 0.795, 0, 1);
  cursor: pointer;
  margin-top: 2px;
  line-height: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
}
.search-wrapper .input-holder .search-input:focus {
  width: 200px;
  z-index: 1;
  cursor: text;
  padding-right: 40px;
  background-color: #fff;
  box-shadow: none;
}
@media only screen and (min-width: 768px) {
  .search-wrapper .input-holder .search-input:focus {
    width: 500px;
  }
}
.search-wrapper .input-holder .search-input:focus ~ .btn-search-submit {
  color: #000;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  z-index: 5;
  margin-top: -2px;
}
.search-wrapper .input-holder .fa-search::before {
  font-size: 22px;
}
@media only screen and (min-width: 992px) {
  .search-wrapper .input-holder .fa-search::before {
    font-size: 16px;
  }
}

.navbar-faculty.navbar-expand-lg .navbar-nav .nav-link {
  padding: 8px 15px;
  font-size: 18px;
}
@media only screen and (min-width: 1200px) {
  .navbar-faculty.navbar-expand-lg .navbar-nav .nav-link {
    padding: 8px 22px;
  }
}

footer {
  background-color: #fff;
  position: relative;
  z-index: 2;
}

.footer-top {
  background-color: #f4f4f4;
  padding: 24px 0 14px;
}
@media only screen and (min-width: 992px) {
  .footer-top {
    padding: 28px 0;
  }
}
.footer-top .time {
  color: #9b9b9b;
  margin-bottom: 10px;
  font-size: 14px;
}
@media only screen and (min-width: 576px) {
  .footer-top .time {
    font-size: 15px;
  }
}

.social-ft {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}
.social-ft a {
  display: inline-block;
  width: 32px;
  height: 32px;
  border: 1px solid #3b57a6;
  color: #3b57a6;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  font-size: 16px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}
.social-ft a:not(:last-child) {
  margin-right: 5px;
}
@media only screen and (min-width: 768px) {
  .social-ft a:not(:last-child) {
    margin-right: 14px;
  }
}
@media only screen and (min-width: 768px) {
  .social-ft a {
    width: 42px;
    height: 42px;
    font-size: 20px;
  }
}
.social-ft a i {
  vertical-align: middle;
}
.social-ft a:hover {
  background-color: #3b57a6;
  color: #fff;
}

.footer-bottom {
  background-color: #ea7617;
  color: #fff;
  padding: 15px 0 30px;
}
@media (max-width: 767px) {
  .footer-bottom {
    background-image: url(../images/bg/bg-footer.png);
    background-repeat: no-repeat;
    background-position: right bottom;
  }
}
.footer-bottom a {
  color: #fff;
}

.about-us-ft {
  text-align: left;
  display: inline-block;
  font-size: 14px;
}
@media only screen and (min-width: 992px) {
  .about-us-ft {
    font-size: 15px;
  }
}
.about-us-ft .img {
  text-align: center;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .about-us-ft .img img {
    max-width: 76px;
  }
}
@media only screen and (min-width: 992px) {
  .about-us-ft {
    display: -ms-flexbox;
    display: flex;
  }
  .about-us-ft .img {
    -ms-flex: 0 0 125px;
    flex: 0 0 125px;
    max-width: 125px;
    margin-bottom: 0;
  }
  .about-us-ft .text {
    -ms-flex: 0 0 calc(100% - 125px);
    flex: 0 0 calc(100% - 125px);
    max-width: calc(100% - 125px);
    padding-left: 60px;
    padding-top: 6px;
  }
}
.about-us-ft h3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 30px;
}
@media only screen and (min-width: 992px) {
  .about-us-ft h3 {
    margin-bottom: 15px;
    font-size: 20px;
  }
}
.about-us-ft ul li {
  position: relative;
  padding-left: 28px;
}
@media only screen and (min-width: 992px) {
  .about-us-ft ul li {
    padding-left: 0;
  }
}
.about-us-ft ul li:not(:last-child) {
  margin-bottom: 17px;
}
@media only screen and (min-width: 992px) {
  .about-us-ft ul li:not(:last-child) {
    margin-bottom: 5px;
  }
}
.about-us-ft ul li i {
  position: absolute;
  left: 0;
  top: 0;
}
@media only screen and (min-width: 992px) {
  .about-us-ft ul li i {
    display: none;
  }
}

.footer-right {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  font-size: 14px;
  margin-top: 15px;
}

.footer-middle {
  padding: 30px 0;
}
.footer-middle .row {
  margin-left: -12px;
  margin-right: -12px;
}
.footer-middle .row .col-lg-2 {
  padding-left: 12px;
  padding-right: 12px;
}
@media only screen and (min-width: 992px) {
  .footer-middle .row .col-lg-2 {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}
@media only screen and (min-width: 992px) {
  .footer-middle .row .col-lg-2:first-child {
    -ms-flex: 0 0 15%;
    flex: 0 0 15%;
    max-width: 15%;
  }
}
@media only screen and (min-width: 992px) {
  .footer-middle .row .col-lg-2:nth-child(3) {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
}

.box-ft {
  margin-bottom: 30px;
}
.box-ft h3 {
  text-transform: uppercase;
  color: #f37423;
  font-weight: 700;
  margin-bottom: 8px;
  font-size: 16px;
}
@media only screen and (min-width: 768px) {
  .box-ft h3 {
    font-size: 18px;
  }
}

.list-links li:not(:last-child) {
  margin-bottom: 5px;
}

.nav-footer ul li:not(:last-child) {
  margin-bottom: 18px;
}
.nav-footer ul li a {
  display: block;
  text-align: center;
  border: 1px solid #78706f;
  -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.03);
  -moz-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.03);
  -ms-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.03);
  -o-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.03);
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.03);
  margin: auto;
  padding: 7px 10px 13px;
  color: #f37423;
}
@media only screen and (min-width: 992px) {
  .nav-footer ul li a {
    max-width: 176px;
    color: #333333;
  }
  .nav-footer ul li a:hover {
    color: #f37423;
  }
}

/* banner-fixed */
.banner-fixed {
  position: relative;
}
.banner-fixed .panel {
  -webkit-font-smoothing: antialiased;
  color: #fff;
  overflow: hidden;
  width: 100%;
  position: relative;
  transition: height .1s ease;
}
.banner-fixed .panel picture {
  display: block;
  overflow: hidden;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: none;
  margin: 0;
}
.banner-fixed .panel .cover-height, .banner-fixed .panel .cover-height-mb {
  position: relative;
  z-index: -201;
  width: 100%;
}
.banner-fixed .panel .inner-panel {
  position: fixed;
  z-index: 1;
  width: auto;
  margin: auto;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  min-width: calc(100% + 1px);
  overflow: hidden;
  height: auto;
  font-family: "object-fit:cover;";
  max-width: none;
  max-height: none;
  top: 61px;
  left: 0;
  right: 0;
  width: 100%;
}
@media only screen and (min-width: 992px) {
  .banner-fixed .panel .inner-panel {
    top: 127px;
  }
}
@media (max-width: 577px) {
  .banner-fixed .panel .inner-panel {
    height: 380px;
  }
}
.banner-fixed .panel .inner-panel img {
  width: 100%;
}
.banner-fixed .owl-theme .owl-nav.disabled + .owl-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 0;
}
@media only screen and (min-width: 1200px) {
  .banner-fixed .owl-theme .owl-nav.disabled + .owl-dots {
    bottom: 29.3177%;
  }
}
.banner-fixed .owl-theme .owl-dots .owl-dot.active span, .banner-fixed .owl-theme .owl-dots .owl-dot:hover span {
  background-color: #f37423;
}

.banner-item {
  position: relative;
}

.banner-caption {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 1;
  top: 13%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
@media only screen and (min-width: 992px) {
  .banner-caption {
    top: 0;
  }
}
.banner-caption h2 {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 0;
  line-height: 1.6;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-family: 'UTMAvo', sans-serif;
}
@media only screen and (min-width: 768px) {
  .banner-caption h2 {
    margin-top: 8.2%;
    font-size: 45px;
  }
}
@media only screen and (min-width: 1200px) {
  .banner-caption h2 {
    font-size: 59px;
    max-width: 830px;
  }
    .news-item .img img {
        height: 185px!important;
    }
    .featured-news .bd {
        bottom: -20px!important;
    }
    .img-kght {
        height: 250px;
    }
    .post-image img{
        object-fit: cover;
    }
}

.panel[data-type=splash-image][data-scroll-type=parallax] {
  background-color: transparent;
}

/* main-content */
.main-content {
  position: relative;
  background-color: #fff;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 100%;
  padding: 0 0 40px 0;
  z-index: 2;
}

/* section-announce */
.section-announce {
  padding-top: 28px;
  margin-bottom: 28px;
}
@media only screen and (min-width: 768px) {
  .section-announce {
    margin-bottom: 95px;
  }
}
.section-announce .row {
  margin-left: -5px;
  margin-right: -5px;
}
.section-announce .row [class*="col-"] {
  padding-right: 5px;
  padding-left: 5px;
}
@media only screen and (min-width: 1200px) {
  .section-announce .row {
    margin-right: -25px;
    margin-left: -25px;
  }
  .section-announce .row [class*="col-"] {
    padding-right: 25px;
    padding-left: 25px;
  }
}
.section-announce .section-heading {
  margin-bottom: 30px;
}
@media only screen and (min-width: 768px) {
  .section-announce .section-heading {
    margin-bottom: 46px;
  }
}

@media (max-width: 767px) {
  .s-border-bottom {
    border-bottom: 1px solid #cfcfcf;
    padding-bottom: 36px;
  }
}

.announce-item {
  padding-bottom: 34px;
}
.announce-item .img {
  margin-bottom: 6px;
}
@media only screen and (min-width: 768px) {
  .announce-item .img {
    margin-bottom: 25px;
  }
}
.announce-item .text h3 {
  font-size: 20px;
  color: #000;
  font-weight: 700;
}
.announce-item .text h3 a {
  color: #000;
}
.announce-item .text h3 a:hover {
  color: #f37423;
}
@media (max-width: 767px) {
  .announce-item.special {
    position: relative;
    margin-bottom: 10px;
  }
  .announce-item.special .text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 34px 5px;
    background: url("../images/bg/gradient-transparent.png") repeat-x 0 top;
    background-size: auto 100%;
  }
  .announce-item.special .text h3 {
    color: #fff;
    font-size: 20px;
  }
  .announce-item.special .text h3 a {
    color: #fff;
  }
}
@media (max-width: 767px) {
  .announce-item .text h3 {
    font-size: 18px;
  }
}

/* section-home-news */
.section-home-news {
  margin-bottom: 28px;
}
@media only screen and (min-width: 768px) {
  .section-home-news {
    margin-bottom: 48px;
  }
}
.section-home-news .section-heading {
  margin-bottom: 34px;
}
@media only screen and (min-width: 768px) {
  .section-home-news .section-heading {
    margin-bottom: 50px;
  }
}
.section-home-news .news-item h3 {
  margin-bottom: 3px;
}
@media (max-width: 767px) {
  .section-home-news .news-item .text {
    padding: 8px 8px 15px;
  }
}
.section-home-news .news-item .desc {
  overflow: hidden;
}
@media (max-width: 767px) {
  .section-home-news .news-item .desc {
    height: 42px;
  }
}
@media only screen and (min-width: 768px) {
  .section-home-news .featured-news .featured-news-title {
    /*overflow: hidden;*/
    text-overflow: ellipsis;
    /*white-space: nowrap;*/
    white-space: normal;
  }
}
.section-home-news .group-sub-featured > [class*="col-"] {
  margin-bottom: 10px;
}

.featured-news {
  position: relative;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.16);
  -ms-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.16);
  -o-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.16);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.16);
}
@media (max-width: 767px) {
  .featured-news {
    margin-bottom: 10px;
  }
}
.featured-news .thumb-big {
    padding-top: 53%;
    overflow: hidden;
}
.featured-news .thumb-big .post-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.featured-news .thumb-big img {
  width: 100%;
  display: block;
}
.featured-news .bd {
  background: url("../images/bg/gradient-transparent.png") repeat-x 0 top;
  background-size: auto 100%;
  padding: 15px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.featured-news .in-category {
  font-size: 16px;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 10px;
  color: #fff;
  position: relative;
  font-weight: bold;
}
@media only screen and (min-width: 768px) {
  .featured-news .in-category {
    font-family: 'Muli', sans-serif;
    padding-bottom: 5px;
    font-size: 14px;
    font-weight: normal;
  }
  .featured-news .in-category::after {
    display: block;
    height: 1px;
    content: '';
    background-color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
  }
}

.featured-news-title {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 10px;
}
.featured-news-title a {
  color: inherit;
}
@media only screen and (min-width: 768px) {
  .featured-news-title {
    font-size: 18px;
  }
}

/* section-activities-event */
.section-activities-event {
  margin-bottom: 28px;
}
@media only screen and (min-width: 768px) {
  .section-activities-event {
    background-color: #20409a;
    padding: 50px 0 74px 0;
    margin-bottom: 66px;
  }
}

.boxs {
  position: relative;
}
@media only screen and (min-width: 768px) {
  .boxs {
    padding: 32px 15px;
    border-radius: 3px;
    background-color: #fff;
  }
}
@media only screen and (min-width: 992px) {
  .boxs {
    height: 100%;
  }
}

.boxs-activities {
  /*margin-bottom: 15px;*/
}
@media (max-width: 767px) {
  .boxs-activities {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .boxs-event {
    border-bottom: 1px solid #cfcfcf;
    padding-bottom: 30px;
    margin-bottom: 25px;
  }
  .boxs-event .post-item {
    padding-top: 30px;
  }
  .boxs-event .events {
    padding-bottom: 15px;
  }
}

.featured-activities {
  margin-bottom: 20px;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .featured-activities .bd {
    background: url("../images/bg/gradient-transparent.png") repeat-x 0 top;
    background-size: auto 100%;
    padding: 15px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .featured-activities .bd {
    padding: 15px;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.16);
    -ms-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.16);
    -o-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.16);
  }
}
@media (max-width: 767px) {
  .featured-activities .featured-news-title {
    color: #000;
  }
}

.featured-activities-text {
  font-size: 16px;
  line-height: 21px;
  height: 63px;
}

.card-grid {
  margin-bottom: 16px;
}

.card-grid-img {
  float: left;
  width: 100px;
  margin-bottom: 0;
}
@media only screen and (min-width: 768px) {
  .card-grid-img {
    width: 37.09091%;
  }
}

.card-grid-body {
  overflow: hidden;
  padding-left: 15px;
}

.card-grid-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 14px;
  line-height: 1.4;
  color: #333333;
}
.card-grid-title a {
  color: inherit;
}
.card-grid-title a:hover {
  color: #f37423;
}

.card-grid-text {
  font-size: 16px;
  line-height: 21px;
  height: 63px;
  overflow: hidden;
}

.post-image {
  /*display: block;*/
  overflow: hidden;
}
.post-image img {
  width: 100%;
  display: block;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: scale(1) translateZ(0);
  -moz-transform: scale(1) translateZ(0);
  transform: scale(1) translateZ(0);
  -webkit-transition: -webkit-transform .3s ease-in-out;
  -moz-transition: -moz-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
}
.post-image:hover img {
  -webkit-transform: scale(1.04);
  -moz-transform: scale(1.04);
  transform: scale(1.04);
}

.post-item ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  padding-top: 21px;
}
@media only screen and (min-width: 768px) {
  .post-item ul {
    padding-left: 54px;
  }
}
.post-item ul li {
  color: #f37423;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.post-item ul li:not(:last-child) {
  margin-bottom: 6px;
}
.post-item ul li .icon-wrap {
  -ms-flex: 0 0 28px;
  flex: 0 0 28px;
  max-width: 28px;
  text-align: center;
}
@media (max-width: 767px) {
  .post-item::after {
    display: block;
    clear: both;
    content: "";
  }
  .post-item .post-item-body {
    padding-left: 12px;
    overflow: hidden;
  }
}

.post-item-img {
  margin-bottom: 14px;
  position: relative;
}
@media (max-width: 767px) {
  .post-item-img {
    float: left;
    width: 44.07713%;
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 768px) {
  .post-item-img {
    margin-left: 60px;
    margin-right: 60px;
  }
}
.post-item-img .livetimes {
  position: absolute;
  top: -23px;
  left: 44px;
}
@media only screen and (min-width: 768px) {
  .post-item-img .livetimes {
    top: 22px;
    left: 22px;
  }
}

.livetimes {
  background-color: #f37423;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: #fff;
}
.livetimes .liveday {
  font-family: 'Muli';
  font-size: 30px;
  font-weight: bold;
  line-height: 1;
  display: block;
  text-align: center;
}
.livetimes .in-month {
  font-size: 12px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  margin-top: 3px;
}

.post-item-title {
  font-size: 18px;
  line-height: 1.3333333333;
  font-weight: bold;
  margin-bottom: 0;
}
@media only screen and (min-width: 768px) {
  .post-item-title {
    font-size: 20px;
    line-height: 1.4;
    text-align: center;
  }
}

/* section-specialized */
.section-specialized {
  margin-bottom: 30px;
}
@media only screen and (min-width: 768px) {
  .section-specialized {
    margin-bottom: 61px;
  }
}
.section-specialized .section-heading {
  margin-bottom: 34px;
}
@media only screen and (min-width: 768px) {
  .section-specialized .section-heading {
    margin-bottom: 54px;
  }
}
@media (max-width: 767px) {
  .section-specialized .announce-item {
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.16);
    -ms-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.16);
    -o-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.16);
    padding-bottom: 0;
  }
}
@media only screen and (min-width: 768px) {
  .section-specialized .announce-item .img {
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .section-specialized .more, .section-specialized .specialized-short-text {
    display: none;
  }
  .section-specialized .in-category {
    font-weight: bold;
    text-transform: uppercase;
    color: #f37423;
    margin-bottom: 10px;
  }
  .section-specialized .announce-item {
    height: 100%;
  }
  .section-specialized .announce-item .text {
    padding: 10px;
  }
  .section-specialized .announce-item .text h3 {
    margin-bottom: 0;
  }
}
.section-specialized .row-specialized > .col-md-4 {
  margin-bottom: 20px;
}

.specialized-short-text {
  font-size: 16px;
  line-height: 24px;
  max-height: 72px;
  margin-bottom: 20px;
}

.more {
  display: inline-block;
  color: #f37423;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-right: 24px;
}
.more::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  content: '';
}

/* section-testmonial */
.section-testmonial {
  margin-bottom: 28px;
  position: relative;
}
.section-testmonial > .container {
  position: relative;
  padding-bottom: 10px;
}
@media (max-width: 767px) {
  .section-testmonial > .container::before {
    background-color: #f37423;
    content: '';
    display: block;
    height: calc(100% - 100px);
    position: absolute;
    bottom: 0;
    left: 15px;
    width: calc(100% - 30px);
  }
}
@media only screen and (min-width: 768px) {
  .section-testmonial {
    padding-top: 57px;
    padding-bottom: 33px;
      background: rgb(243,123,35);
      background: linear-gradient(90deg, rgba(243,123,35,1) 0%, rgba(243,145,35,1) 50%, rgba(243,123,35,1) 100%);
  }
}

.testmonials.owl-theme .owl-dots .owl-dot span {
  background-color: rgba(255, 255, 255, 0.3);
}
.testmonials.owl-theme .owl-dots .owl-dot.active span, .testmonials .owl-theme .owl-dots .owl-dot:hover span {
  background-color: #fff;
}

.testmonial-item {
  max-width: 810px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 18px;
  padding-left: 10px;
  padding-right: 10px;
}
.testmonial-item .testmonial-wrap {
  position: relative;
  z-index: 1;
}
@media only screen and (min-width: 768px) {
  .testmonial-item {
    margin-bottom: 34px;
  }
}
.testmonial-item .testmonial-img {
  margin-bottom: 20px;
}
@media only screen and (min-width: 768px) {
  .testmonial-item .testmonial-img {
    margin-bottom: 64px;
  }
}
.testmonial-item .testmonial-img img {
  width: 200px;
  height: 200px!important;
  border: 2px solid #fff;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .testmonial-item .testmonial-img img {
    width: 265px;
    height: 265px!important;
    object-fit: cover;
    background-position: center;
  }
}
.testmonial-item blockquote {
  padding: 0;
  margin: 0 0 20px 0;
  color: #fff;
  border: 0;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .testmonial-item blockquote {
    font-size: 26px;
    margin-bottom: 46px;
  }
}
.testmonial-item .testmonial-author {
  color: #fff;
  position: relative;
  padding-bottom: 17px;
  text-align: center;
}
.testmonial-item .testmonial-author::after {
  height: 1px;
  width: 112px;
  background-color: #fff;
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.testmonial-item .testmonial-author .testmonial-name {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 12px;
}
@media only screen and (min-width: 768px) {
  .testmonial-item .testmonial-author .testmonial-name {
    font-size: 18px;
    margin-bottom: 22px;
  }
}
.testmonial-item .testmonial-author .position {
  font-size: 18px;
}
@media only screen and (min-width: 768px) {
  .testmonial-item .testmonial-author .position {
    font-size: 14px;
  }
}

/* section-career */
.section-career {
  margin-bottom: 30px;
}
@media only screen and (min-width: 768px) {
  .section-career {
    margin-bottom: 47px;
  }
}
.section-career .section-heading {
  margin-bottom: 34px;
}
@media only screen and (min-width: 768px) {
  .section-career .section-heading {
    margin-bottom: 76px;
  }
}
.section-career .list-careers {
  margin-left: -8px;
  margin-right: -8px;
}
@media (max-width: 767px) {
  .section-career .list-careers {
    margin-bottom: 12px;
  }
}
.section-career .list-careers > [class*="col-"] {
  padding-left: 8px;
  padding-right: 8px;
}

.card-change {
  background-color: #fff;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.16);
  -ms-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.16);
  -o-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.16);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.16);
  min-height: 100%;
}

.card-change-body {
  padding: 10px 15px;
}
@media only screen and (min-width: 768px) {
  .card-change-body {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.card-change-title {
  font-weight: 700;
  line-height: 18px;
  height: 72px;
  font-size: 15px;
  margin-bottom: 0;
}
.card-change-title a {
  color: inherit;
}
.card-change-title a:hover {
  color: #f37423;
}
@media only screen and (min-width: 768px) {
  .card-change-title {
    height: 88px;
    font-size: 16px;
    line-height: 22px;
  }
}

.career-item {
  margin-bottom: 15px;
}
@media only screen and (min-width: 992px) {
  .career-item {
    margin-bottom: 46px;
  }
}
.career-item::after {
  display: block;
  clear: both;
  content: "";
}
@media (max-width: 767px) {
  .career-item {
    background-color: #fafafa;
  }
  .career-item .card-change-img {
    width: 44.05594%;
    max-width: 180px;
  }
  .career-item .card-change-body {
    overflow: hidden;
  }
  .career-item:nth-child(2n) .card-change-img {
    float: right;
  }
  .career-item:nth-child(2n+1) .card-change-img {
    float: left;
  }
}

/* section-student */
@media only screen and (min-width: 768px) {
  .section-student {
    background-color: #f9f6ef;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .section-student {
    margin-bottom: 30px;
  }
  .section-student .announce-item {
    background-color: #f9f6ef;
    padding-bottom: 10px;
    margin-bottom: 15px;
  }
  .section-student .announce-item .text {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.section-student .section-heading {
  margin-bottom: 30px;
}
@media only screen and (min-width: 768px) {
  .section-student .section-heading {
    margin-bottom: 50px;
  }
}

/* section-about-us */
.section-about-us {
  margin-bottom: 20px;
}
@media only screen and (min-width: 768px) {
  .section-about-us {
    padding-top: 26px;
    margin-bottom: 44px;
  }
}
.section-about-us .section-heading {
  margin-bottom: 34px;
}
@media only screen and (min-width: 768px) {
  .section-about-us .section-heading {
    margin-bottom: 48px;
  }
}

.box-statistical {
  margin-bottom: 25px;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .box-statistical {
    margin-bottom: 69px;
  }
}
.box-statistical .text {
  font-size: 16px;
  color: #555;
  display: inline-block;
  margin-bottom: 7px;
}
@media only screen and (min-width: 768px) {
  .box-statistical .text {
    font-size: 22px;
  }
}
.box-statistical .number {
  color: #20409a;
  font-weight: bold;
  font-size: 34px;
}
@media only screen and (min-width: 768px) {
  .box-statistical .number {
    font-size: 50px;
  }
}

.news-item {
  background-color: #fff;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.16);
  -ms-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.16);
  -o-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.16);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.16);
  min-height: 100%;
}
.news-item .img {
  position: relative;
}
.news-item .img img {
  width: 100%;
}
.news-item .img .play-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: rgba(130, 130, 130, 0.62);
}
@media (max-width: 767px) {
  .news-item .img .play-video:hover i {
    background-image: url('../images/sprites-s25ad12e05f.png');
    background-position: 0 -235px;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 48px;
    width: 49px;
    display: inline-block;
  }
}
@media (max-width: 767px) {
  .news-item .img .play-video i {
    background-image: url('../images/sprites-s25ad12e05f.png');
    background-position: 0 -187px;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 48px;
    width: 49px;
    display: inline-block;
  }
}
.news-item .text {
  padding: 15px 15px 20px;
}
.news-item h3 {
  text-transform: uppercase;
  color: #f37423;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 13px;
}
.news-item h3 a {
  color: #f37423;
}
.news-item .desc {
  font-weight: 700;
  line-height: 21px;
  height: 84px;
}

.section-news {
  margin-bottom: 17px;
}
.section-news .section-heading {
  margin-bottom: 45px;
}
@media only screen and (min-width: 768px) {
  .section-news .section-heading {
    margin-bottom: 80px;
  }
}

.list-news.row {
  margin-right: -10px;
  margin-left: -10px;
}
.list-news.row [class*="col-"] {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 25px;
}

.view-more {
  padding-top: 35px;
}
.view-more .btn-orange {
  min-width: 235px;
}

/* news detail photo */
.section-news-detail.photo-list {
  margin-bottom: 74px;
}
@media only screen and (min-width: 768px) {
  .section-news-detail.photo-list {
    margin-bottom: 140px;
  }
}
.section-news-detail.photo-list .section-heading {
  margin-bottom: 34px;
}
@media only screen and (min-width: 768px) {
  .section-news-detail.photo-list .section-heading {
    margin-bottom: 72px;
  }
}

.photo-item {
  background-color: #fff;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.16);
  -ms-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.16);
  -o-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.16);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.16);
  margin-bottom: 24px;
}
@media only screen and (min-width: 768px) {
  .photo-item {
    padding-bottom: 0px;
    margin-bottom: 54px;
    padding-top: 0px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
  }
}
.photo-item a, .photo-item img {
  display: block;
}

.post-update {
  color: #000;
  font-size: 16px;
  margin-bottom: 34px;
}
@media only screen and (min-width: 768px) {
  .post-update {
    color: #f37423;
    margin-bottom: 36px;
  }
}

@media only screen and (min-width: 768px) {
  .pt-md-60 {
    padding-top: 60px;
  }
}

.view-all-photo {
  display: inline-block;
  color: #f37423;
  font-size: 24px;
  font-style: italic;
}
@media only screen and (min-width: 768px) {
  .view-all-photo {
    font-size: 30px;
  }
}
.view-all-photo i {
  vertical-align: middle;
  margin-right: 20px;
  position: relative;
  top: -2px;
}

.bottom-page {
  padding-top: 23px;
}
@media only screen and (min-width: 992px) {
  .bottom-page {
    padding-top: 0;
  }
}
.bottom-page .pagination {
  margin-top: 6px;
  margin-bottom: 0;
  padding-top: 48px;
}
@media only screen and (min-width: 992px) {
  .bottom-page .pagination {
    padding-top: 0;
  }
}

.page-link {
  color: #000;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  border-radius: 0 !important;
}
.page-link:hover, .page-link:focus {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.active .page-link {
  color: #fff;
}

/* event detail */
.main-content-gray {
  background-color: #f9f6ef;
  padding: 0;
}

.section-detail {
  position: relative;
  padding-bottom: 38px;
}
@media only screen and (min-width: 992px) {
  .section-detail {
    padding-bottom: 50px;
  }
}
@media only screen and (min-width: 1200px) {
  .section-detail .col-lg-3 {
    -ms-flex: 0 0 385px;
    flex: 0 0 385px;
    max-width: 385px;
  }
}
@media only screen and (min-width: 1200px) {
  .section-detail .offset-lg-3 {
    margin-left: 385px;
  }
}
@media only screen and (min-width: 1200px) {
  .section-detail .col-lg-9 {
    -ms-flex: 0 0 calc(100% - 385px);
    flex: 0 0 calc(100% - 385px);
    max-width: calc(100% - 385px);
    padding-left: 25px;
  }
}

.header-detail {
  background-color: #20409a;
  color: #fff;
  padding-bottom: 16px;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  .header-detail {
    text-align: left;
    padding-top: 105px;
    padding-bottom: 55px;
  }
}
.header-detail a {
  color: #fff;
}
.header-detail h4, .header-detail h1, .header-detail h3 {
  margin-bottom: 0;
}
.header-detail h4 {
  font-size: 17px;
  text-decoration: underline;
}
@media only screen and (min-width: 992px) {
  .header-detail h4 {
    font-size: 18px;
  }
}
.header-detail .single-event-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 19px;
}
@media only screen and (min-width: 992px) {
  .header-detail .single-event-title {
    font-size: 36px;
    margin-bottom: 33px;
  }
}
.header-detail h3 {
  font-size: 17px;
  font-weight: normal;
}
@media only screen and (min-width: 992px) {
  .header-detail h3 {
    font-size: 18px;
  }
}
.header-detail h3 span {
  text-transform: uppercase;
}
.header-detail img {
  margin-bottom: 17px;
}

@media only screen and (min-width: 992px) {
  .sidebar-left {
    background-color: #fff;
    -webkit-box-shadow: 0 6px 14px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 6px 14px rgba(0, 0, 0, 0.16);
    -ms-box-shadow: 0 6px 14px rgba(0, 0, 0, 0.16);
    -o-box-shadow: 0 6px 14px rgba(0, 0, 0, 0.16);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.16);
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
  }
}
@media only screen and (min-width: 992px) {
  .sidebar-left {
    margin-top: -192px;
  }
}

.sidebar-left-content {
  padding: 25px 0 20px;
  font-size: 15px;
}
@media only screen and (min-width: 992px) {
  .sidebar-left-content {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.sidebar-left-content ul li {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  position: relative;
  padding-left: 42px;
}
@media only screen and (min-width: 992px) {
  .sidebar-left-content ul li {
    display: block !important;
  }
}
.sidebar-left-content ul li:not(:last-child) {
  margin-bottom: 14px;
}
@media only screen and (min-width: 992px) {
  .sidebar-left-content ul li:not(:last-child) {
    margin-bottom: 24px;
  }
}
.sidebar-left-content ul li i {
  position: absolute;
  top: 3px;
  left: 0;
}
.sidebar-left-content ul li a {
  color: #006cbe;
  text-decoration: underline;
}
@media only screen and (min-width: 992px) {
  .sidebar-left-content ul li .right {
    margin-top: 10px;
  }
}
.sidebar-left-content ul li .time {
  color: #747474;
  font-size: 14px;
}

.entry {
  color: #2f2424;
}
.entry h2, .entry h3, .entry h4 {
  font-weight: 700;
}
.entry h2 {
  font-size: 28px;
}
.entry h3 {
  font-size: 26px;
}
.entry h4 {
  font-size: 24px;
}

.title-entry {
  font-weight: 700;
  font-size: 18px;
  color: #2e2d29;
  margin-top: 22px;
  margin-bottom: 30px;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  .title-entry {
    margin-top: 30px;
    text-align: left;
    font-size: 30px;
    margin-bottom: 18px;
  }
}

.entry {
  line-height: 1.5;
  padding-bottom: 20px;
}
@media only screen and (min-width: 992px) {
  .entry {
    line-height: 1.9;
  }
}
.entry p {
  margin-bottom: 22px;
}
@media only screen and (min-width: 992px) {
  .entry p {
    margin-bottom: 30px;
  }
}

.tags {
  padding-bottom: 10px;
}
.tags a {
  display: inline-block;
  border: 1px solid #dfdfdf;
  background-color: #fff;
  color: #2f2424;
  padding: 5px 22px 7px;
  margin-bottom: 6px;
}
.tags a:hover, .tags a:focus {
  background-color: #f37423;
  color: #fff;
  border-color: #f37423;
}
.tags a:not(:last-child) {
  margin-right: 5px;
}
@media only screen and (min-width: 768px) {
  .tags a:not(:last-child) {
    margin-right: 40px;
  }
}

.bottom-entry {
  border-top: 1px solid #cbc9c5;
  padding-top: 16px;
}
.bottom-entry .tags {
  margin-bottom: 10px;
}

.share {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.share span {
  margin-right: 25px;
  margin-top: 4px;
}
.share ul {
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #e2e2e2;
  height: 32px;
}
@media only screen and (min-width: 768px) {
  .share ul {
    height: 45px;
  }
}
.share ul li {
  height: 30px;
}
@media only screen and (min-width: 768px) {
  .share ul li {
    height: 43px;
  }
}
.share ul li:not(:last-child) {
  border-right: 1px solid #e2e2e2;
}
.share ul li a {
  display: block;
  font-size: 0;
}
.share ul li i {
  width: 30px;
  height: 30px;
  background-color: #fff;
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 16px;
}
@media only screen and (min-width: 768px) {
  .share ul li i {
    width: 43px;
    height: 43px;
    font-size: 24px;
  }
}
.share ul li .fa-facebook {
  color: #4267b2;
}
.share ul li .fa-twitter {
  color: #2ab5e8;
}
.share ul li .fa-pinterest-p {
  color: #fc1010;
}

.entry-update {
  margin-bottom: 10px;
}

/* news video */
.section-news-detail.video {
  padding-bottom: 38px;
}
@media only screen and (min-width: 768px) {
  .section-news-detail.video {
    padding-bottom: 60px;
  }
}
.section-news-detail.video .section-heading {
  margin-bottom: 34px;
}
@media only screen and (min-width: 768px) {
  .section-news-detail.video .section-heading {
    margin-bottom: 72px;
  }
}

.video-youtube {
  margin-bottom: 25px;
}
@media only screen and (min-width: 768px) {
  .video-youtube {
    margin-bottom: 58px;
  }
}
.video-youtube iframe {
  width: 100%;
  height: 333px;
  border: 0;
}
@media only screen and (min-width: 768px) {
  .video-youtube iframe {
    height: 757px;
  }
}

/* section-news-detail news */
.section-news-detail.news {
  padding-top: 25px;
}
@media only screen and (min-width: 768px) {
  .section-news-detail.news {
    padding-top: 58px;
  }
}

.news-post {
  font-size: 14px;
  color: #af4b00;
  margin-bottom: 0;
}
@media only screen and (min-width: 768px) {
  .news-post {
    font-size: 20px;
  }
}

.title-news-detail {
  font-weight: 700;
  font-size: 18px;
  color: #000;
  margin-bottom: 27px;
}
@media only screen and (min-width: 768px) {
  .title-news-detail {
    margin-bottom: 37px;
    font-size: 30px;
  }
}

.short-text {
  color: #af4b00;
  font-size: 18px;
  font-style: italic;
  font-family: 'Muli', sans-serif;
  margin-bottom: 20px;
}
@media only screen and (min-width: 768px) {
  .short-text {
    margin-bottom: 50px;
  }
}

@media only screen and (min-width: 992px) {
  .content-detail {
    padding-left: 70px;
    position: relative;
  }
}
.content-detail .share-top {
  position: absolute;
  top: 12px;
  left: 0;
  z-index: 2;
}
.content-detail .share-top ul {
  display: block;
  height: auto;
  width: 45px;
}
.content-detail .share-top ul li {
  width: 43px;
}
.content-detail .share-top ul li:not(:last-child) {
  border-right: 0;
  border-bottom: 1px solid #e2e2e2;
}
.content-detail .entry {
  color: #000;
}

.entry figure {
  max-width: 585px;
  margin-bottom: 22px;
}
@media only screen and (min-width: 768px) {
  .entry figure {
    margin-bottom: 48px;
  }
}
@media (max-width: 860px) {
  .entry figure {
    float: none !important;
    max-width: unset;
    text-align: center;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
.entry figcaption {
  font-style: italic;
  margin-top: 7px;
}
@media only screen and (min-width: 768px) {
  .entry figcaption {
    margin-top: 10px;
  }
}

.text-orange {
  color: #f37423;
}

.news-related {
  margin-top: 36px;
  padding-bottom: 45px;
}
@media only screen and (min-width: 768px) {
  .news-related {
    margin-top: 52px;
    padding-bottom: 90px;
  }
}
.news-related h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 25px;
  color: #f37423;
}
@media only screen and (min-width: 768px) {
  .news-related h2 {
    margin-bottom: 47px;
    font-size: 30px;
  }
}
.news-related .row {
  margin-right: -14px;
  margin-left: -14px;
}
.news-related .row [class*="col-"] {
  padding-left: 14px;
  padding-right: 14px;
}

.relate-item {
  background-color: #fff;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.16);
  -ms-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.16);
  -o-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.16);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.16);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 18px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.relate-item:before, .relate-item:after {
  content: " ";
  display: table;
}
.relate-item:after {
  clear: both;
}
@media only screen and (min-width: 992px) {
  .relate-item {
    display: block;
    min-height: 100%;
  }
}
.relate-item .img {
  -ms-flex: 0 0 27%;
  flex: 0 0 27%;
  max-width: 27%;
}
@media only screen and (min-width: 992px) {
  .relate-item .img {
    float: right;
    margin-left: 30px;
    width: 100px;
    max-width: unset;
  }
}
.relate-item .img img {
  width: 100%;
}
@media (max-width: 911px) {
  .relate-item .text {
    -ms-flex: 0 0 73%;
    flex: 0 0 73%;
    max-width: 73%;
    padding-left: 14px;
  }
}
.relate-item h4 {
  color: #f37423;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 3px;
}
@media only screen and (min-width: 768px) {
  .relate-item h4 {
    font-size: 13px;
    margin-bottom: 0;
  }
}
.relate-item h3 {
  color: #000;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 7px;
  line-height: 20px;
  max-height: 80px;
}
@media only screen and (min-width: 768px) {
  .relate-item h3 {
    margin-bottom: 12px;
  }
}
.relate-item h3 a {
  color: #000;
}
.relate-item h3 a:hover {
  color: #f37423;
}
.relate-item .desc {
  line-height: 20px;
  max-height: 120px;
}
@media only screen and (min-width: 992px) {
  .relate-item .desc {
    height: 120px;
  }
}

@media only screen and (min-width: 768px) {
  .section-library {
    padding-top: 15px;
  }
}
.section-library .section-heading {
  margin-bottom: 50px;
}

.library {
  margin-bottom: 60px;
}
@media only screen and (min-width: 768px) {
  .library {
    margin-bottom: 80px;
  }
}
.library .btn {
  min-width: 235px;
  margin-top: 25px;
}
@media only screen and (min-width: 768px) {
  .library .btn {
    margin-top: 10px;
  }
}

.title-library {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: normal;
  color: #000;
}
@media only screen and (min-width: 768px) {
  .title-library {
    font-size: 24px;
  }
}

.section-event {
  padding-top: 35px;
  padding-bottom: 52px;
}
@media only screen and (min-width: 768px) {
  .section-event {
    padding-top: 85px;
  }
}
.section-event h2 {
  font-weight: 700;
  font-size: 30px;
  color: #3b2784;
  margin-bottom: 40px;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .section-event h2 {
    font-size: 30px;
    color: #2e2d29;
    text-align: left;
    margin-bottom: 26px;
  }
}
.section-event .pagination {
  margin-bottom: 0;
  margin-top: 10px;
}

.event-item {
  background-color: #fff;
  -webkit-box-shadow: 0 6px 14px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 6px 14px rgba(0, 0, 0, 0.16);
  -ms-box-shadow: 0 6px 14px rgba(0, 0, 0, 0.16);
  -o-box-shadow: 0 6px 14px rgba(0, 0, 0, 0.16);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.16);
  margin-bottom: 22px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 12px;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .event-item {
    margin-bottom: 45px;
  }
}
.event-item .img {
  -ms-flex: 0 0 24%;
  flex: 0 0 24%;
  max-width: 24%;
}
@media only screen and (min-width: 768px) {
  .event-item .img {
    -ms-flex: 0 0 178px;
    flex: 0 0 178px;
    max-width: 178px;
  }
}
@media (max-width: 749px) {
  .event-item .img {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}
.event-item .text {
  padding-left: 30px;
  -ms-flex: 0 0 76%;
  flex: 0 0 76%;
  max-width: 76%;
}
@media only screen and (min-width: 768px) {
  .event-item .text {
    -ms-flex: 0 0 calc(100% - 178px);
    flex: 0 0 calc(100% - 178px);
    max-width: calc(100% - 178px);
  }
}
@media (max-width: 749px) {
  .event-item .text {
    -ms-flex: 0 0 80%;
    flex: 0 0 80%;
    max-width: 80%;
    padding-left: 20px;
  }
}
.event-item h4 {
  text-transform: uppercase;
  color: #b05e5e;
  font-weight: 700;
  font-size: 12px;
  margin-bottom: 0;
  position: relative;
  z-index: 2;
  padding-right: 90px;
}
@media only screen and (min-width: 768px) {
  .event-item h4 {
    font-size: 15px;
    padding-right: 0;
  }
}
.event-item h4 a {
  color: #b05e5e;
}
.event-item h4 a:hover {
  color: #f37423;
}
.event-item h3 {
  font-weight: 700;
  font-size: 20px;
  color: #2e2d29;
  margin-bottom: 40px;
  position: relative;
  z-index: 2;
}
@media only screen and (min-width: 768px) {
  .event-item h3 {
    margin-bottom: 25px;
    font-size: 26px;
  }
}
@media only screen and (min-width: 992px) {
  .event-item h3 {
    margin-bottom: 50px;
  }
}
@media (max-width: 749px) {
  .event-item h3 {
    margin-bottom: 5px;
    margin-right: 15px;
    font-size: 14px;
    line-height: 18px;
    height: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
.event-item h3 a {
  color: #2e2d29;
}
.event-item h3 a:hover {
  color: #f37423;
}
.event-item ul {
  color: #5f574f;
}
@media only screen and (min-width: 768px) {
  .event-item ul {
    font-size: 18px;
  }
}
@media (max-width: 749px) {
  .event-item ul {
    font-size: 11px;
  }
}
.event-item ul li {
  position: relative;
  padding-left: 30px;
}
.event-item ul li:not(:last-child) {
  margin-bottom: 12px;
}
@media (max-width: 749px) {
  .event-item ul li:not(:last-child) {
    margin-bottom: 3px;
  }
}
@media (max-width: 749px) {
  .event-item ul li {
    min-height: 18px;
    padding-left: 20px;
  }
}
.event-item ul li i {
  position: absolute;
  top: 3px;
  left: 0;
}
@media (max-width: 749px) {
  .event-item ul li i {
    top: 0;
  }
  .event-item ul li i.ico-16 {
    background-image: url('../images/sprites-s25ad12e05f.png');
    background-position: -26px -128px;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 12px;
    width: 12px;
    display: inline-block;
  }
  .event-item ul li i.ico-17 {
    background-image: url('../images/sprites-s25ad12e05f.png');
    background-position: -31px 0;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 16px;
    width: 12px;
    display: inline-block;
  }
}

.status-event {
  background-position: bottom right;
  background-repeat: no-repeat;
  color: #fff;
  width: 175px;
  height: 84px;
  background-size: 100% 100%;
  padding-bottom: 12px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: flex-end;
  justify-content: flex-end;
  font-size: 12px;
  font-weight: 700;
  padding-right: 12px;
  top: 0;
  position: absolute;
  right: 0;
  padding-top: 12px;
}
@media only screen and (min-width: 768px) {
  .status-event {
    top: auto;
    bottom: 0;
    width: 283px;
    height: 150px;
    -ms-flex-align: flex-end;
    align-items: flex-end;
    font-size: 22px;
    padding-top: 0;
    padding-right: 28px;
  }
}
@media only screen and (min-width: 992px) {
  .status-event {
    width: 283px;
    height: 150px;
  }
}
@media (max-width: 749px) {
  .status-event {
    width: 135px;
    height: 44px;
    padding-top: 3px;
    padding-right: 3px;
  }
}
.status-event.open-soon {
  background-image: url(../images/bg/open-soon-mobile.png);
}
@media only screen and (min-width: 768px) {
  .status-event.open-soon {
    background-image: url(../images/bg/open-soon.png);
  }
}
.status-event.opening {
  background-image: url(../images/bg/opening-mobile.png);
}
@media only screen and (min-width: 768px) {
  .status-event.opening {
    background-image: url(../images/bg/opening.png);
  }
}
.status-event.finished {
  background-image: url(../images/bg/finished-mobile.png);
}
@media only screen and (min-width: 768px) {
  .status-event.finished {
    background-image: url(../images/bg/finished.png);
  }
}

.section-register {
  margin-bottom: 22px;
}
@media only screen and (min-width: 768px) {
  .section-register {
    padding-top: 12px;
    margin-bottom: 143px;
  }
}
.section-register .section-heading {
  margin-bottom: 24px;
}
@media only screen and (min-width: 768px) {
  .section-register .section-heading {
    margin-bottom: 85px;
  }
}

.nav-tabs-custom {
  margin-bottom: 18px;
}
.nav-tabs-custom .nav-item {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}
.nav-tabs-custom .nav-item:last-child {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.nav-tabs-custom .nav-item:not(:last-child) {
  border-right: 1px solid #989898;
}
.nav-tabs-custom .nav-item .nav-link {
  background-color: #e0e0e0;
  text-align: center;
  text-transform: uppercase;
  padding-top: 33px;
  padding-bottom: 33px;
  min-height: 100%;
}
.nav-tabs-custom .nav-item .nav-link:hover, .nav-tabs-custom .nav-item .nav-link.active {
  background-color: #f37423;
  color: #fff;
}

.text-red {
  color: #ff0000 !important;
}

@media only screen and (min-width: 768px) {
  .form-register {
    border: 1px solid #707070;
    padding: 78px 55px 20px;
  }
}
.form-register label {
  color: #000;
  padding-left: 17px;
  margin-bottom: 6px;
}
.form-register label span {
  color: #ff0000;
}
@media only screen and (min-width: 768px) {
  .form-register label {
    padding-left: 0;
    position: absolute;
    left: 50px;
    font-style: italic;
    top: 50%;
    transform: translate(0, -50%);
  }
  .form-register label.hide {
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  .form-register .row {
    margin-left: -30px;
    margin-right: -30px;
  }
  .form-register .row .col-md-6 {
    padding-right: 30px;
    padding-left: 30px;
  }
}
.form-register .form-group {
  margin-bottom: 6px;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .form-register .form-group {
    margin-bottom: 40px;
    height: 46px;
  }
  .form-register .form-group select {
    position: absolute;
    z-index: 2;
    background-color: transparent;
    width: calc(100% - 30px);
  }
}
@media only screen and (min-width: 992px) {
  .form-register .form-group select {
    width: calc(100% - 60px);
  }
}
.form-register .form-control {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background-color: #f3f3f3;
  border-color: #f3f3f3;
  color: #000;
  height: 46px;
  background-clip: unset;
}
@media only screen and (min-width: 768px) {
  .form-register .form-control {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #fff;
    border-color: #707070;
  }
}
.form-register .btn {
  text-transform: uppercase;
  margin-top: 35px;
  min-width: 178px;
  font-weight: 700;
}
@media only screen and (min-width: 768px) {
  .form-register .btn {
    margin-top: 10px;
  }
}
.form-register .note {
  margin-top: 46px;
}
@media only screen and (min-width: 768px) {
  .form-register .note {
    margin-top: 62px;
  }
}
.form-register .note p {
  margin-bottom: 10px;
}

#switch-tab {
  background-color: #f37423;
  color: #fff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  height: 44px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.16);
  -ms-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.16);
  -o-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.16);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.16);
  margin-bottom: 28px;
}

.datepicker {
  min-width: 240px;
}
.datepicker table {
  width: 100%;
  font-size: 14px;
}

/* section-about-faculty */
.section-about-faculty {
  margin-bottom: 62px;
}
@media only screen and (min-width: 768px) {
  .section-about-faculty {
    padding-top: 68px;
    margin-bottom: 94px;
  }
}
.section-about-faculty .section-heading {
  margin-bottom: 28px;
  padding-bottom: 24px;
}
@media only screen and (min-width: 768px) {
  .section-about-faculty .section-heading {
    margin-bottom: 58px;
    padding-bottom: 0;
  }
}
.section-about-faculty .section-title-sub {
  color: #000;
}

/* section-feature */
.section-feature {
  margin-bottom: 60px;
}
@media only screen and (min-width: 768px) {
  .section-feature {
    margin-bottom: 102px;
  }
}
.section-feature .section-heading {
  margin-bottom: 50px;
}
.section-feature hr {
  height: 1px;
  border-top: 1px solid #707070;
  margin-top: 0;
  margin-bottom: 70px;
  overflow: hidden;
}
.section-feature .row {
  margin-left: -8px;
  margin-right: -8px;
}
.section-feature .row [class*="col-"] {
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 16px;
}
.section-feature .view-more {
  padding-top: 25px;
}

.card-info {
  -webkit-box-shadow: 0 5px 12px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 5px 12px rgba(0, 0, 0, 0.16);
  -ms-box-shadow: 0 5px 12px rgba(0, 0, 0, 0.16);
  -o-box-shadow: 0 5px 12px rgba(0, 0, 0, 0.16);
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.16);
  background-color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  min-height: 100%;
}

.card-info-img img {
  width: 100%;
}

.card-info-body {
  padding: 10px 10px 15px;
}

.card-info-title {
  font-size: 16px;
  font-weight: 700;
  color: #000;
  line-height: 24px;
  max-height: 48px;
}
.card-info-title a {
  color: #000;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.card-info-title a:hover {
  color: #f37423;
}

/* section-news-faculty */
.section-news-faculty {
  background-color: #f9f6ef;
  padding-bottom: 82px;
  padding-top: 42px;
  margin-bottom: 53px;
}
@media only screen and (min-width: 768px) {
  .section-news-faculty {
    padding-top: 42px;
    padding-bottom: 68px;
    margin-bottom: 75px;
  }
}
.section-news-faculty .section-heading {
  margin-bottom: 33px;
  padding-bottom: 24px;
}
@media only screen and (min-width: 768px) {
  .section-news-faculty .section-heading {
    margin-bottom: 70px;
    padding-bottom: 0;
  }
}
.section-news-faculty .view-more {
  padding-top: 25px;
}
@media only screen and (min-width: 768px) {
  .section-news-faculty .view-more {
    padding-top: 0;
  }
}

.news-thumb-item {
  margin-bottom: 22px;
}
@media only screen and (min-width: 768px) {
  .news-thumb-item {
    margin-bottom: 53px;
  }
}
.news-thumb-item .img {
  margin-bottom: 16px;
}
@media only screen and (min-width: 768px) {
  .news-thumb-item .img {
    margin-bottom: 20px;
  }
}
.news-thumb-item .img img {
  width: 100%;
}
.news-thumb-item .text h3 {
  font-size: 15px;
  font-family: 'Muli', sans-serif;
  font-weight: 700;
  margin-bottom: 0;
  line-height: 24px;
  max-height: 72px;
}
@media only screen and (min-width: 768px) {
  .news-thumb-item .text h3 {
    font-size: 20px;
  }
}
.news-thumb-item .text h3 a {
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

/* section-felling-student */
.section-felling-student {
  margin-bottom: 24px;
}
@media only screen and (min-width: 768px) {
  .section-felling-student {
    margin-bottom: 97px;
  }
}
.section-felling-student .section-heading {
  margin-bottom: 47px;
}
@media only screen and (min-width: 768px) {
  .section-felling-student .section-heading {
    margin-bottom: 78px;
  }
}

.student-item {
  text-align: center;
  font-size: 20px;
  color: #000;
}
.student-item .img {
  margin-bottom: 9px;
}
.student-item .name-student {
  margin-bottom: 10px;
}
.student-item .desc {
  font-family: 'Segoe UI', sans-serif;
}

.owl-arrow-white.owl-carousel .owl-nav button.owl-prev, .owl-arrow-white.owl-carousel .owl-nav button.owl-next {
  width: 50px;
  height: 50px;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.16);
  -ms-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.16);
  -o-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.16);
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.16);
  border: none;
}
@media (min-width: 1300px) {
  .owl-arrow-white.owl-carousel .owl-nav button.owl-prev {
    left: -72px;
  }
}
@media (min-width: 1300px) {
  .owl-arrow-white.owl-carousel .owl-nav button.owl-next {
    right: -72px;
  }
}

/* section-partners */
.section-partners {
  margin-bottom: 20px;
}
@media only screen and (min-width: 768px) {
  .section-partners {
    padding-bottom: 75px;
  }
}
.section-partners .section-heading {
  margin-bottom: 44px;
}
@media only screen and (min-width: 768px) {
  .section-partners .section-heading {
    margin-bottom: 48px;
  }
}

.partner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border: 1px solid #b3b3b3;
  border-bottom: none;
  border-right: none;
}
.partner .img {
  height: 72px;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #b3b3b3;
  border-right: 1px solid #b3b3b3;
  padding: 10px;
}
@media only screen and (min-width: 768px) {
  .partner .img {
    height: 160px;
  }
}
.partner img {
  width: auto !important;
  max-width: 100%;
  max-height: 70px;
}
@media only screen and (min-width: 768px) {
  .partner img {
    max-height: 158px;
  }
}
/*--------- Responsive new ---------*/
.img.img-kght img {
    height: 100%!important;
    object-fit: cover!important;
}

@media (max-width: 500px) {
    .post-item-img .livetimes {
        position: absolute;
        top: -30px;
    }
    .livetimes {
        width: 60px;
        height: 60px;
    }
    .livetimes .liveday {
        font-size: 20px;
    }
    .livetimes .in-month {
        font-size: 10px;
    }
    .announce-item .img {
        margin-bottom: 2px;
        height: 140px;
    }
}
@media (min-width: 500px) and (max-width: 999px) {
    .announce-item .img {
        margin-bottom: 2px;
        height: 160px;
    }
}

@media (max-width: 400px) {
    .news-item .img img {
        width: 100%;
        object-fit: cover;
        height: 100px!important;
    }
}
@media (min-width: 401px) and (max-width: 500px) {
    .news-item .img img {
        width: 100%;
        object-fit: cover;
        height: 140px!important;
    }
}
@media (min-width: 501px) and (max-width: 575.99px) {
    .news-item .img img {
        width: 100%;
        object-fit: cover;
        height: 150px!important;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .news-item .img img {
        width: 100%;
        object-fit: cover;
        height: 180px!important;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .news-item .img img {
        width: 100%;
        object-fit: cover;
        height: 230px!important;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .news-item .img img {
        width: 100%;
        object-fit: cover;
        height: 150px!important;
    }
    .featured-news{
        height: 100%;
    }
}

@media (min-width: 1200px) {

}
.img , .thumb-big , .card-grid-img , .card-change-img {
    overflow: hidden;
}

.bg-detail-news{
  background-color: #F2F1EB;
}

.bg-detail-events{
  background-color: #F9F6EF;
}

.section-box-content:after{
    content: '';
    border-bottom: 1px solid #d2d7da;
    width: 70%;
}
.about-top-box img{
    width: 70%;
    margin: 0 auto;
}
